<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lab.c505.mapper.DrugCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="lab.c505.entity.DrugCategory">
        <id column="drug_category_id" property="drugCategoryId" />
        <result column="drug_category_code" property="drugCategoryCode" />
        <result column="drug_category_name" property="drugCategoryName" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_user" property="modifyUser" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        drug_category_id, drug_category_code, drug_category_name, create_time, create_user, modify_time, modify_user, delete_flag, version
    </sql>

</mapper>
