<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lab.c505.mapper.FollowSickHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="lab.c505.entity.FollowSickHistory">
        <id column="follow_sick_history_id" property="followSickHistoryId" />
        <result column="follow_up_id" property="followUpId" />
        <result column="ischemia" property="ischemia" />
        <result column="hemorrhage" property="hemorrhage" />
        <result column="revascularization" property="revascularization" />
        <result column="nyha_rank" property="nyhaRank" />
        <result column="is_weak" property="isWeak" />
        <result column="is_soreness" property="isSoreness" />
        <result column="is_smoke" property="isSmoke" />
        <result column="is_patient_edu" property="isPatientEdu" />
        <result column="other_info" property="otherInfo" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_user" property="modifyUser" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        follow_sick_history_id, follow_up_id, ischemia, hemorrhage, revascularization, nyha_rank, is_weak, is_soreness, is_smoke, is_patient_edu, other_info, create_time, create_user, modify_time, modify_user, delete_flag, version
    </sql>

</mapper>
