<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lab.c505.mapper.NutritionPrescriptionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="lab.c505.entity.NutritionPrescription">
        <id column="nutrition_prescription_id" property="nutritionPrescriptionId" />
        <result column="heat_quantity" property="heatQuantity" />
        <result column="saccharides" property="saccharides" />
        <result column="fat" property="fat" />
        <result column="protein" property="protein" />
        <result column="other_info" property="otherInfo" />
        <result column="follow_up_id" property="followUpId" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_user" property="modifyUser" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        nutrition_prescription_id, heat_quantity, saccharides, fat, protein, other_info, follow_up_id, create_time, create_user, modify_time, modify_user, delete_flag, version
    </sql>

</mapper>
