<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lab.c505.dao.AdmissionRecordMapper" >
  <resultMap id="BaseResultMap" type="lab.c505.entity.AdmissionRecord" >
    <id column="ar_id" property="ar_id" jdbcType="BIGINT" />
    <result column="hosp_id" property="hosp_id" jdbcType="BIGINT" />
    <result column="patient_id" property="patient_id" jdbcType="BIGINT" />
    <result column="ad_number" property="ad_number" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="main_diag" property="main_diag" jdbcType="TINYINT" />
    <result column="detail_diag" property="detail_diag" jdbcType="VARCHAR" />
    <result column="create_time" property="create_time" jdbcType="DATE" />
    <result column="upt_time" property="upt_time" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ar_id, hosp_id, patient_id, ad_number, "operator", main_diag, detail_diag, create_time, 
    upt_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="lab.c505.entity.AdmissionRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_admission_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_admission_record
    where ar_id = #{ar_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_admission_record
    where ar_id = #{ar_id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="lab.c505.entity.AdmissionRecordExample" >
    delete from t_admission_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.AdmissionRecord" >
    insert into t_admission_record (ar_id, hosp_id, patient_id, 
      ad_number, "operator", main_diag, 
      detail_diag, create_time, upt_time
      )
    values (#{ar_id,jdbcType=BIGINT}, #{hosp_id,jdbcType=BIGINT}, #{patient_id,jdbcType=BIGINT}, 
      #{ad_number,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{main_diag,jdbcType=TINYINT}, 
      #{detail_diag,jdbcType=VARCHAR}, #{create_time,jdbcType=DATE}, #{upt_time,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.AdmissionRecord" >
    insert into t_admission_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ar_id != null" >
        ar_id,
      </if>
      <if test="hosp_id != null" >
        hosp_id,
      </if>
      <if test="patient_id != null" >
        patient_id,
      </if>
      <if test="ad_number != null" >
        ad_number,
      </if>
      <if test="operator != null" >
        "operator",
      </if>
      <if test="main_diag != null" >
        main_diag,
      </if>
      <if test="detail_diag != null" >
        detail_diag,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="upt_time != null" >
        upt_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ar_id != null" >
        #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="hosp_id != null" >
        #{hosp_id,jdbcType=BIGINT},
      </if>
      <if test="patient_id != null" >
        #{patient_id,jdbcType=BIGINT},
      </if>
      <if test="ad_number != null" >
        #{ad_number,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="main_diag != null" >
        #{main_diag,jdbcType=TINYINT},
      </if>
      <if test="detail_diag != null" >
        #{detail_diag,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=DATE},
      </if>
      <if test="upt_time != null" >
        #{upt_time,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="lab.c505.entity.AdmissionRecordExample" resultType="java.lang.Integer" >
    select count(*) from t_admission_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_admission_record
    <set >
      <if test="record.ar_id != null" >
        ar_id = #{record.ar_id,jdbcType=BIGINT},
      </if>
      <if test="record.hosp_id != null" >
        hosp_id = #{record.hosp_id,jdbcType=BIGINT},
      </if>
      <if test="record.patient_id != null" >
        patient_id = #{record.patient_id,jdbcType=BIGINT},
      </if>
      <if test="record.ad_number != null" >
        ad_number = #{record.ad_number,jdbcType=VARCHAR},
      </if>
      <if test="record.operator != null" >
        "operator" = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.main_diag != null" >
        main_diag = #{record.main_diag,jdbcType=TINYINT},
      </if>
      <if test="record.detail_diag != null" >
        detail_diag = #{record.detail_diag,jdbcType=VARCHAR},
      </if>
      <if test="record.create_time != null" >
        create_time = #{record.create_time,jdbcType=DATE},
      </if>
      <if test="record.upt_time != null" >
        upt_time = #{record.upt_time,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_admission_record
    set ar_id = #{record.ar_id,jdbcType=BIGINT},
      hosp_id = #{record.hosp_id,jdbcType=BIGINT},
      patient_id = #{record.patient_id,jdbcType=BIGINT},
      ad_number = #{record.ad_number,jdbcType=VARCHAR},
      "operator" = #{record.operator,jdbcType=VARCHAR},
      main_diag = #{record.main_diag,jdbcType=TINYINT},
      detail_diag = #{record.detail_diag,jdbcType=VARCHAR},
      create_time = #{record.create_time,jdbcType=DATE},
      upt_time = #{record.upt_time,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.AdmissionRecord" >
    update t_admission_record
    <set >
      <if test="hosp_id != null" >
        hosp_id = #{hosp_id,jdbcType=BIGINT},
      </if>
      <if test="patient_id != null" >
        patient_id = #{patient_id,jdbcType=BIGINT},
      </if>
      <if test="ad_number != null" >
        ad_number = #{ad_number,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        "operator" = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="main_diag != null" >
        main_diag = #{main_diag,jdbcType=TINYINT},
      </if>
      <if test="detail_diag != null" >
        detail_diag = #{detail_diag,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=DATE},
      </if>
      <if test="upt_time != null" >
        upt_time = #{upt_time,jdbcType=DATE},
      </if>
    </set>
    where ar_id = #{ar_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.AdmissionRecord" >
    update t_admission_record
    set hosp_id = #{hosp_id,jdbcType=BIGINT},
      patient_id = #{patient_id,jdbcType=BIGINT},
      ad_number = #{ad_number,jdbcType=VARCHAR},
      "operator" = #{operator,jdbcType=VARCHAR},
      main_diag = #{main_diag,jdbcType=TINYINT},
      detail_diag = #{detail_diag,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=DATE},
      upt_time = #{upt_time,jdbcType=DATE}
    where ar_id = #{ar_id,jdbcType=BIGINT}
  </update>
</mapper>