<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lab.c505.dao.AssessmentMapper" >
  <resultMap id="BaseResultMap" type="lab.c505.entity.Assessment" >
    <id column="assessment_id" property="assessment_id" jdbcType="BIGINT" />
    <result column="ar_id" property="ar_id" jdbcType="BIGINT" />
    <result column="sas" property="sas" jdbcType="INTEGER" />
    <result column="sds" property="sds" jdbcType="INTEGER" />
    <result column="na" property="na" jdbcType="INTEGER" />
    <result column="psqi" property="psqi" jdbcType="INTEGER" />
    <result column="ipqa" property="ipqa" jdbcType="INTEGER" />
    <result column="fagerstorm" property="fagerstorm" jdbcType="INTEGER" />
    <result column="grip_left" property="grip_left" jdbcType="REAL" />
    <result column="grip_right" property="grip_right" jdbcType="REAL" />
    <result column="round_three" property="round_three" jdbcType="REAL" />
    <result column="walking" property="walking" jdbcType="REAL" />
    <result column="standing" property="standing" jdbcType="REAL" />
    <result column="balance_left" property="balance_left" jdbcType="REAL" />
    <result column="balance_right" property="balance_right" jdbcType="REAL" />
    <result column="protrusion" property="protrusion" jdbcType="REAL" />
    <result column="arm_girth" property="arm_girth" jdbcType="REAL" />
    <result column="bmi" property="bmi" jdbcType="REAL" />
    <result column="tst" property="tst" jdbcType="REAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    assessment_id, ar_id, sas, sds, na, psqi, ipqa, fagerstorm, grip_left, grip_right, 
    round_three, walking, standing, balance_left, balance_right, protrusion, arm_girth, 
    bmi, tst
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_assessment
    where assessment_id = #{assessment_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_assessment
    where assessment_id = #{assessment_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.Assessment" >
    insert into t_assessment (assessment_id, ar_id, sas, 
      sds, na, psqi, ipqa, 
      fagerstorm, grip_left, grip_right, 
      round_three, walking, standing, 
      balance_left, balance_right, protrusion, 
      arm_girth, bmi, tst)
    values (#{assessment_id,jdbcType=BIGINT}, #{ar_id,jdbcType=BIGINT}, #{sas,jdbcType=INTEGER}, 
      #{sds,jdbcType=INTEGER}, #{na,jdbcType=INTEGER}, #{psqi,jdbcType=INTEGER}, #{ipqa,jdbcType=INTEGER}, 
      #{fagerstorm,jdbcType=INTEGER}, #{grip_left,jdbcType=REAL}, #{grip_right,jdbcType=REAL}, 
      #{round_three,jdbcType=REAL}, #{walking,jdbcType=REAL}, #{standing,jdbcType=REAL}, 
      #{balance_left,jdbcType=REAL}, #{balance_right,jdbcType=REAL}, #{protrusion,jdbcType=REAL}, 
      #{arm_girth,jdbcType=REAL}, #{bmi,jdbcType=REAL}, #{tst,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.Assessment" >
    insert into t_assessment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="assessment_id != null" >
        assessment_id,
      </if>
      <if test="ar_id != null" >
        ar_id,
      </if>
      <if test="sas != null" >
        sas,
      </if>
      <if test="sds != null" >
        sds,
      </if>
      <if test="na != null" >
        na,
      </if>
      <if test="psqi != null" >
        psqi,
      </if>
      <if test="ipqa != null" >
        ipqa,
      </if>
      <if test="fagerstorm != null" >
        fagerstorm,
      </if>
      <if test="grip_left != null" >
        grip_left,
      </if>
      <if test="grip_right != null" >
        grip_right,
      </if>
      <if test="round_three != null" >
        round_three,
      </if>
      <if test="walking != null" >
        walking,
      </if>
      <if test="standing != null" >
        standing,
      </if>
      <if test="balance_left != null" >
        balance_left,
      </if>
      <if test="balance_right != null" >
        balance_right,
      </if>
      <if test="protrusion != null" >
        protrusion,
      </if>
      <if test="arm_girth != null" >
        arm_girth,
      </if>
      <if test="bmi != null" >
        bmi,
      </if>
      <if test="tst != null" >
        tst,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="assessment_id != null" >
        #{assessment_id,jdbcType=BIGINT},
      </if>
      <if test="ar_id != null" >
        #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="sas != null" >
        #{sas,jdbcType=INTEGER},
      </if>
      <if test="sds != null" >
        #{sds,jdbcType=INTEGER},
      </if>
      <if test="na != null" >
        #{na,jdbcType=INTEGER},
      </if>
      <if test="psqi != null" >
        #{psqi,jdbcType=INTEGER},
      </if>
      <if test="ipqa != null" >
        #{ipqa,jdbcType=INTEGER},
      </if>
      <if test="fagerstorm != null" >
        #{fagerstorm,jdbcType=INTEGER},
      </if>
      <if test="grip_left != null" >
        #{grip_left,jdbcType=REAL},
      </if>
      <if test="grip_right != null" >
        #{grip_right,jdbcType=REAL},
      </if>
      <if test="round_three != null" >
        #{round_three,jdbcType=REAL},
      </if>
      <if test="walking != null" >
        #{walking,jdbcType=REAL},
      </if>
      <if test="standing != null" >
        #{standing,jdbcType=REAL},
      </if>
      <if test="balance_left != null" >
        #{balance_left,jdbcType=REAL},
      </if>
      <if test="balance_right != null" >
        #{balance_right,jdbcType=REAL},
      </if>
      <if test="protrusion != null" >
        #{protrusion,jdbcType=REAL},
      </if>
      <if test="arm_girth != null" >
        #{arm_girth,jdbcType=REAL},
      </if>
      <if test="bmi != null" >
        #{bmi,jdbcType=REAL},
      </if>
      <if test="tst != null" >
        #{tst,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.Assessment" >
    update t_assessment
    <set >
      <if test="ar_id != null" >
        ar_id = #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="sas != null" >
        sas = #{sas,jdbcType=INTEGER},
      </if>
      <if test="sds != null" >
        sds = #{sds,jdbcType=INTEGER},
      </if>
      <if test="na != null" >
        na = #{na,jdbcType=INTEGER},
      </if>
      <if test="psqi != null" >
        psqi = #{psqi,jdbcType=INTEGER},
      </if>
      <if test="ipqa != null" >
        ipqa = #{ipqa,jdbcType=INTEGER},
      </if>
      <if test="fagerstorm != null" >
        fagerstorm = #{fagerstorm,jdbcType=INTEGER},
      </if>
      <if test="grip_left != null" >
        grip_left = #{grip_left,jdbcType=REAL},
      </if>
      <if test="grip_right != null" >
        grip_right = #{grip_right,jdbcType=REAL},
      </if>
      <if test="round_three != null" >
        round_three = #{round_three,jdbcType=REAL},
      </if>
      <if test="walking != null" >
        walking = #{walking,jdbcType=REAL},
      </if>
      <if test="standing != null" >
        standing = #{standing,jdbcType=REAL},
      </if>
      <if test="balance_left != null" >
        balance_left = #{balance_left,jdbcType=REAL},
      </if>
      <if test="balance_right != null" >
        balance_right = #{balance_right,jdbcType=REAL},
      </if>
      <if test="protrusion != null" >
        protrusion = #{protrusion,jdbcType=REAL},
      </if>
      <if test="arm_girth != null" >
        arm_girth = #{arm_girth,jdbcType=REAL},
      </if>
      <if test="bmi != null" >
        bmi = #{bmi,jdbcType=REAL},
      </if>
      <if test="tst != null" >
        tst = #{tst,jdbcType=REAL},
      </if>
    </set>
    where assessment_id = #{assessment_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.Assessment" >
    update t_assessment
    set ar_id = #{ar_id,jdbcType=BIGINT},
      sas = #{sas,jdbcType=INTEGER},
      sds = #{sds,jdbcType=INTEGER},
      na = #{na,jdbcType=INTEGER},
      psqi = #{psqi,jdbcType=INTEGER},
      ipqa = #{ipqa,jdbcType=INTEGER},
      fagerstorm = #{fagerstorm,jdbcType=INTEGER},
      grip_left = #{grip_left,jdbcType=REAL},
      grip_right = #{grip_right,jdbcType=REAL},
      round_three = #{round_three,jdbcType=REAL},
      walking = #{walking,jdbcType=REAL},
      standing = #{standing,jdbcType=REAL},
      balance_left = #{balance_left,jdbcType=REAL},
      balance_right = #{balance_right,jdbcType=REAL},
      protrusion = #{protrusion,jdbcType=REAL},
      arm_girth = #{arm_girth,jdbcType=REAL},
      bmi = #{bmi,jdbcType=REAL},
      tst = #{tst,jdbcType=REAL}
    where assessment_id = #{assessment_id,jdbcType=BIGINT}
  </update>
</mapper>