<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lab.c505.dao.BodyCompMapper" >
  <resultMap id="BaseResultMap" type="lab.c505.entity.BodyComp" >
    <id column="bc_id" property="bc_id" jdbcType="BIGINT" />
    <result column="ar_id" property="ar_id" jdbcType="BIGINT" />
    <result column="height" property="height" jdbcType="REAL" />
    <result column="weight" property="weight" jdbcType="REAL" />
    <result column="bmi" property="bmi" jdbcType="REAL" />
    <result column="muscle" property="muscle" jdbcType="REAL" />
    <result column="fat" property="fat" jdbcType="REAL" />
    <result column="fat_rate" property="fat_rate" jdbcType="REAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    bc_id, ar_id, height, weight, bmi, muscle, fat, fat_rate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_bodycomp
    where bc_id = #{bc_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_bodycomp
    where bc_id = #{bc_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.BodyComp" >
    insert into t_bodycomp (bc_id, ar_id, height, 
      weight, bmi, muscle, fat, 
      fat_rate)
    values (#{bc_id,jdbcType=BIGINT}, #{ar_id,jdbcType=BIGINT}, #{height,jdbcType=REAL}, 
      #{weight,jdbcType=REAL}, #{bmi,jdbcType=REAL}, #{muscle,jdbcType=REAL}, #{fat,jdbcType=REAL}, 
      #{fat_rate,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.BodyComp" >
    insert into t_bodycomp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bc_id != null" >
        bc_id,
      </if>
      <if test="ar_id != null" >
        ar_id,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="bmi != null" >
        bmi,
      </if>
      <if test="muscle != null" >
        muscle,
      </if>
      <if test="fat != null" >
        fat,
      </if>
      <if test="fat_rate != null" >
        fat_rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bc_id != null" >
        #{bc_id,jdbcType=BIGINT},
      </if>
      <if test="ar_id != null" >
        #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="height != null" >
        #{height,jdbcType=REAL},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=REAL},
      </if>
      <if test="bmi != null" >
        #{bmi,jdbcType=REAL},
      </if>
      <if test="muscle != null" >
        #{muscle,jdbcType=REAL},
      </if>
      <if test="fat != null" >
        #{fat,jdbcType=REAL},
      </if>
      <if test="fat_rate != null" >
        #{fat_rate,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.BodyComp" >
    update t_bodycomp
    <set >
      <if test="ar_id != null" >
        ar_id = #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=REAL},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=REAL},
      </if>
      <if test="bmi != null" >
        bmi = #{bmi,jdbcType=REAL},
      </if>
      <if test="muscle != null" >
        muscle = #{muscle,jdbcType=REAL},
      </if>
      <if test="fat != null" >
        fat = #{fat,jdbcType=REAL},
      </if>
      <if test="fat_rate != null" >
        fat_rate = #{fat_rate,jdbcType=REAL},
      </if>
    </set>
    where bc_id = #{bc_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.BodyComp" >
    update t_bodycomp
    set ar_id = #{ar_id,jdbcType=BIGINT},
      height = #{height,jdbcType=REAL},
      weight = #{weight,jdbcType=REAL},
      bmi = #{bmi,jdbcType=REAL},
      muscle = #{muscle,jdbcType=REAL},
      fat = #{fat,jdbcType=REAL},
      fat_rate = #{fat_rate,jdbcType=REAL}
    where bc_id = #{bc_id,jdbcType=BIGINT}
  </update>
</mapper>