<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lab.c505.dao.DumbbellElasticBeltMapper" >
  <resultMap id="BaseResultMap" type="lab.c505.entity.DumbbellElasticBelt" >
    <id column="tdeb_id" property="tdeb_id" jdbcType="BIGINT" />
    <result column="rst_id" property="rst_id" jdbcType="BIGINT" />
    <result column="strength" property="strength" jdbcType="TINYINT" />
    <result column="train_time" property="train_time" jdbcType="TINYINT" />
    <result column="train_group" property="train_group" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    tdeb_id, rst_id, strength, train_time, train_group, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_dumbbell_elastic_belt
    where tdeb_id = #{tdeb_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_dumbbell_elastic_belt
    where tdeb_id = #{tdeb_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.DumbbellElasticBelt" >
    insert into t_dumbbell_elastic_belt (tdeb_id, rst_id, strength, 
      train_time, train_group, remark
      )
    values (#{tdeb_id,jdbcType=BIGINT}, #{rst_id,jdbcType=BIGINT}, #{strength,jdbcType=TINYINT}, 
      #{train_time,jdbcType=TINYINT}, #{train_group,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.DumbbellElasticBelt" >
    insert into t_dumbbell_elastic_belt
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tdeb_id != null" >
        tdeb_id,
      </if>
      <if test="rst_id != null" >
        rst_id,
      </if>
      <if test="strength != null" >
        strength,
      </if>
      <if test="train_time != null" >
        train_time,
      </if>
      <if test="train_group != null" >
        train_group,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tdeb_id != null" >
        #{tdeb_id,jdbcType=BIGINT},
      </if>
      <if test="rst_id != null" >
        #{rst_id,jdbcType=BIGINT},
      </if>
      <if test="strength != null" >
        #{strength,jdbcType=TINYINT},
      </if>
      <if test="train_time != null" >
        #{train_time,jdbcType=TINYINT},
      </if>
      <if test="train_group != null" >
        #{train_group,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.DumbbellElasticBelt" >
    update t_dumbbell_elastic_belt
    <set >
      <if test="rst_id != null" >
        rst_id = #{rst_id,jdbcType=BIGINT},
      </if>
      <if test="strength != null" >
        strength = #{strength,jdbcType=TINYINT},
      </if>
      <if test="train_time != null" >
        train_time = #{train_time,jdbcType=TINYINT},
      </if>
      <if test="train_group != null" >
        train_group = #{train_group,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where tdeb_id = #{tdeb_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.DumbbellElasticBelt" >
    update t_dumbbell_elastic_belt
    set rst_id = #{rst_id,jdbcType=BIGINT},
      strength = #{strength,jdbcType=TINYINT},
      train_time = #{train_time,jdbcType=TINYINT},
      train_group = #{train_group,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR}
    where tdeb_id = #{tdeb_id,jdbcType=BIGINT}
  </update>
</mapper>