<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lab.c505.dao.ExternalCounterpulsationMapper">
  <resultMap id="BaseResultMap" type="lab.c505.entity.ExternalCounterpulsation">
    <id column="ec_id" jdbcType="BIGINT" property="ec_id" />
    <result column="fr_id" jdbcType="BIGINT" property="fr_id" />
    <result column="duration" jdbcType="REAL" property="duration" />
    <result column="train_time" jdbcType="TINYINT" property="train_time" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    ec_id, fr_id, duration, train_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_external_counterpulsation
    where ec_id = #{ec_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_external_counterpulsation
    where ec_id = #{ec_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.ExternalCounterpulsation">
    insert into t_external_counterpulsation (ec_id, fr_id, duration, 
      train_time, remark)
    values (#{ec_id,jdbcType=BIGINT}, #{fr_id,jdbcType=BIGINT}, #{duration,jdbcType=REAL}, 
      #{train_time,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.ExternalCounterpulsation">
    insert into t_external_counterpulsation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ec_id != null">
        ec_id,
      </if>
      <if test="fr_id != null">
        fr_id,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="train_time != null">
        train_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ec_id != null">
        #{ec_id,jdbcType=BIGINT},
      </if>
      <if test="fr_id != null">
        #{fr_id,jdbcType=BIGINT},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=REAL},
      </if>
      <if test="train_time != null">
        #{train_time,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.ExternalCounterpulsation">
    update t_external_counterpulsation
    <set>
      <if test="fr_id != null">
        fr_id = #{fr_id,jdbcType=BIGINT},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=REAL},
      </if>
      <if test="train_time != null">
        train_time = #{train_time,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ec_id = #{ec_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.ExternalCounterpulsation">
    update t_external_counterpulsation
    set fr_id = #{fr_id,jdbcType=BIGINT},
      duration = #{duration,jdbcType=REAL},
      train_time = #{train_time,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR}
    where ec_id = #{ec_id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="lab.c505.entity.ExternalCounterpulsation">
    <id column="ec_id" jdbcType="BIGINT" property="ec_id" />
    <result column="fr_id" jdbcType="BIGINT" property="fr_id" />
    <result column="duration" jdbcType="REAL" property="duration" />
    <result column="train_time" jdbcType="TINYINT" property="train_time" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    ec_id, fr_id, duration, train_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_external_counterpulsation
    where ec_id = #{ec_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_external_counterpulsation
    where ec_id = #{ec_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.ExternalCounterpulsation">
    insert into t_external_counterpulsation (ec_id, fr_id, duration, 
      train_time, remark)
    values (#{ec_id,jdbcType=BIGINT}, #{fr_id,jdbcType=BIGINT}, #{duration,jdbcType=REAL}, 
      #{train_time,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.ExternalCounterpulsation">
    insert into t_external_counterpulsation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ec_id != null">
        ec_id,
      </if>
      <if test="fr_id != null">
        fr_id,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="train_time != null">
        train_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ec_id != null">
        #{ec_id,jdbcType=BIGINT},
      </if>
      <if test="fr_id != null">
        #{fr_id,jdbcType=BIGINT},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=REAL},
      </if>
      <if test="train_time != null">
        #{train_time,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.ExternalCounterpulsation">
    update t_external_counterpulsation
    <set>
      <if test="fr_id != null">
        fr_id = #{fr_id,jdbcType=BIGINT},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=REAL},
      </if>
      <if test="train_time != null">
        train_time = #{train_time,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ec_id = #{ec_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.ExternalCounterpulsation">
    update t_external_counterpulsation
    set fr_id = #{fr_id,jdbcType=BIGINT},
      duration = #{duration,jdbcType=REAL},
      train_time = #{train_time,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR}
    where ec_id = #{ec_id,jdbcType=BIGINT}
  </update>
</mapper>