<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lab.c505.dao.FollowScheduleMapper">
  <resultMap id="BaseResultMap" type="lab.c505.entity.FollowSchedule">
    <id column="fs_id" jdbcType="BIGINT" property="fs_id" />
    <result column="ar_id" jdbcType="BIGINT" property="ar_id" />
    <result column="doctor_id" jdbcType="BIGINT" property="doctor_id" />
    <result column="follow_time" jdbcType="DATE" property="follow_time" />
    <result column="follow_status" jdbcType="TINYINT" property="follow_status" />
  </resultMap>
  <sql id="Base_Column_List">
    fs_id, ar_id, doctor_id, follow_time, follow_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_follow_schedule
    where fs_id = #{fs_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_follow_schedule
    where fs_id = #{fs_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.FollowSchedule">
    insert into t_follow_schedule (fs_id, ar_id, doctor_id, 
      follow_time, follow_status)
    values (#{fs_id,jdbcType=BIGINT}, #{ar_id,jdbcType=BIGINT}, #{doctor_id,jdbcType=BIGINT}, 
      #{follow_time,jdbcType=DATE}, #{follow_status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.FollowSchedule">
    insert into t_follow_schedule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fs_id != null">
        fs_id,
      </if>
      <if test="ar_id != null">
        ar_id,
      </if>
      <if test="doctor_id != null">
        doctor_id,
      </if>
      <if test="follow_time != null">
        follow_time,
      </if>
      <if test="follow_status != null">
        follow_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fs_id != null">
        #{fs_id,jdbcType=BIGINT},
      </if>
      <if test="ar_id != null">
        #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="doctor_id != null">
        #{doctor_id,jdbcType=BIGINT},
      </if>
      <if test="follow_time != null">
        #{follow_time,jdbcType=DATE},
      </if>
      <if test="follow_status != null">
        #{follow_status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.FollowSchedule">
    update t_follow_schedule
    <set>
      <if test="ar_id != null">
        ar_id = #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="doctor_id != null">
        doctor_id = #{doctor_id,jdbcType=BIGINT},
      </if>
      <if test="follow_time != null">
        follow_time = #{follow_time,jdbcType=DATE},
      </if>
      <if test="follow_status != null">
        follow_status = #{follow_status,jdbcType=TINYINT},
      </if>
    </set>
    where fs_id = #{fs_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.FollowSchedule">
    update t_follow_schedule
    set ar_id = #{ar_id,jdbcType=BIGINT},
      doctor_id = #{doctor_id,jdbcType=BIGINT},
      follow_time = #{follow_time,jdbcType=DATE},
      follow_status = #{follow_status,jdbcType=TINYINT}
    where fs_id = #{fs_id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="lab.c505.entity.FollowSchedule">
    <id column="fs_id" jdbcType="BIGINT" property="fs_id" />
    <result column="ar_id" jdbcType="BIGINT" property="ar_id" />
    <result column="doctor_id" jdbcType="BIGINT" property="doctor_id" />
    <result column="follow_time" jdbcType="DATE" property="follow_time" />
    <result column="follow_status" jdbcType="TINYINT" property="follow_status" />
  </resultMap>
  <sql id="Base_Column_List">
    fs_id, ar_id, doctor_id, follow_time, follow_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_follow_schedule
    where fs_id = #{fs_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_follow_schedule
    where fs_id = #{fs_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.FollowSchedule">
    insert into t_follow_schedule (fs_id, ar_id, doctor_id, 
      follow_time, follow_status)
    values (#{fs_id,jdbcType=BIGINT}, #{ar_id,jdbcType=BIGINT}, #{doctor_id,jdbcType=BIGINT}, 
      #{follow_time,jdbcType=DATE}, #{follow_status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.FollowSchedule">
    insert into t_follow_schedule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fs_id != null">
        fs_id,
      </if>
      <if test="ar_id != null">
        ar_id,
      </if>
      <if test="doctor_id != null">
        doctor_id,
      </if>
      <if test="follow_time != null">
        follow_time,
      </if>
      <if test="follow_status != null">
        follow_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fs_id != null">
        #{fs_id,jdbcType=BIGINT},
      </if>
      <if test="ar_id != null">
        #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="doctor_id != null">
        #{doctor_id,jdbcType=BIGINT},
      </if>
      <if test="follow_time != null">
        #{follow_time,jdbcType=DATE},
      </if>
      <if test="follow_status != null">
        #{follow_status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.FollowSchedule">
    update t_follow_schedule
    <set>
      <if test="ar_id != null">
        ar_id = #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="doctor_id != null">
        doctor_id = #{doctor_id,jdbcType=BIGINT},
      </if>
      <if test="follow_time != null">
        follow_time = #{follow_time,jdbcType=DATE},
      </if>
      <if test="follow_status != null">
        follow_status = #{follow_status,jdbcType=TINYINT},
      </if>
    </set>
    where fs_id = #{fs_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.FollowSchedule">
    update t_follow_schedule
    set ar_id = #{ar_id,jdbcType=BIGINT},
      doctor_id = #{doctor_id,jdbcType=BIGINT},
      follow_time = #{follow_time,jdbcType=DATE},
      follow_status = #{follow_status,jdbcType=TINYINT}
    where fs_id = #{fs_id,jdbcType=BIGINT}
  </update>
</mapper>