<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lab.c505.dao.FollowSideEffectsMapper" >
  <resultMap id="BaseResultMap" type="lab.c505.entity.FollowSideEffects" >
    <constructor >
      <idArg column="side_effects_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="stomach_stimulation" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="hemorrhage" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="go_hospital" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dyspnea" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="follow_up_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="create_user" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="modify_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="modify_user" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="delete_flag" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="version" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    side_effects_id, stomach_stimulation, hemorrhage, go_hospital, dyspnea, follow_up_id, 
    create_time, create_user, modify_time, modify_user, delete_flag, version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_follow_side_effects
    where side_effects_id = #{side_effects_id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_follow_side_effects
    where side_effects_id = #{side_effects_id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.FollowSideEffects" >
    insert into t_follow_side_effects (side_effects_id, stomach_stimulation, 
      hemorrhage, go_hospital, dyspnea, 
      follow_up_id, create_time, create_user, 
      modify_time, modify_user, delete_flag, 
      version)
    values (#{side_effects_id,jdbcType=VARCHAR}, #{stomach_stimulation,jdbcType=VARCHAR}, 
      #{hemorrhage,jdbcType=VARCHAR}, #{go_hospital,jdbcType=VARCHAR}, #{dyspnea,jdbcType=VARCHAR}, 
      #{follow_up_id,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, #{create_user,jdbcType=VARCHAR}, 
      #{modify_time,jdbcType=TIMESTAMP}, #{modify_user,jdbcType=VARCHAR}, #{delete_flag,jdbcType=INTEGER}, 
      #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.FollowSideEffects" >
    insert into t_follow_side_effects
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="side_effects_id != null" >
        side_effects_id,
      </if>
      <if test="stomach_stimulation != null" >
        stomach_stimulation,
      </if>
      <if test="hemorrhage != null" >
        hemorrhage,
      </if>
      <if test="go_hospital != null" >
        go_hospital,
      </if>
      <if test="dyspnea != null" >
        dyspnea,
      </if>
      <if test="follow_up_id != null" >
        follow_up_id,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="create_user != null" >
        create_user,
      </if>
      <if test="modify_time != null" >
        modify_time,
      </if>
      <if test="modify_user != null" >
        modify_user,
      </if>
      <if test="delete_flag != null" >
        delete_flag,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="side_effects_id != null" >
        #{side_effects_id,jdbcType=VARCHAR},
      </if>
      <if test="stomach_stimulation != null" >
        #{stomach_stimulation,jdbcType=VARCHAR},
      </if>
      <if test="hemorrhage != null" >
        #{hemorrhage,jdbcType=VARCHAR},
      </if>
      <if test="go_hospital != null" >
        #{go_hospital,jdbcType=VARCHAR},
      </if>
      <if test="dyspnea != null" >
        #{dyspnea,jdbcType=VARCHAR},
      </if>
      <if test="follow_up_id != null" >
        #{follow_up_id,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="create_user != null" >
        #{create_user,jdbcType=VARCHAR},
      </if>
      <if test="modify_time != null" >
        #{modify_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_user != null" >
        #{modify_user,jdbcType=VARCHAR},
      </if>
      <if test="delete_flag != null" >
        #{delete_flag,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.FollowSideEffects" >
    update t_follow_side_effects
    <set >
      <if test="stomach_stimulation != null" >
        stomach_stimulation = #{stomach_stimulation,jdbcType=VARCHAR},
      </if>
      <if test="hemorrhage != null" >
        hemorrhage = #{hemorrhage,jdbcType=VARCHAR},
      </if>
      <if test="go_hospital != null" >
        go_hospital = #{go_hospital,jdbcType=VARCHAR},
      </if>
      <if test="dyspnea != null" >
        dyspnea = #{dyspnea,jdbcType=VARCHAR},
      </if>
      <if test="follow_up_id != null" >
        follow_up_id = #{follow_up_id,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="create_user != null" >
        create_user = #{create_user,jdbcType=VARCHAR},
      </if>
      <if test="modify_time != null" >
        modify_time = #{modify_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_user != null" >
        modify_user = #{modify_user,jdbcType=VARCHAR},
      </if>
      <if test="delete_flag != null" >
        delete_flag = #{delete_flag,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where side_effects_id = #{side_effects_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.FollowSideEffects" >
    update t_follow_side_effects
    set stomach_stimulation = #{stomach_stimulation,jdbcType=VARCHAR},
      hemorrhage = #{hemorrhage,jdbcType=VARCHAR},
      go_hospital = #{go_hospital,jdbcType=VARCHAR},
      dyspnea = #{dyspnea,jdbcType=VARCHAR},
      follow_up_id = #{follow_up_id,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      create_user = #{create_user,jdbcType=VARCHAR},
      modify_time = #{modify_time,jdbcType=TIMESTAMP},
      modify_user = #{modify_user,jdbcType=VARCHAR},
      delete_flag = #{delete_flag,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER}
    where side_effects_id = #{side_effects_id,jdbcType=VARCHAR}
  </update>
</mapper>