<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lab.c505.dao.FollowRecordMapper" >
  <resultMap id="BaseResultMap" type="lab.c505.entity.FollowRecord" >
    <id column="fr_id" property="fr_id" jdbcType="BIGINT" />
    <result column="ar_id" property="ar_id" jdbcType="BIGINT" />
    <result column="doctor_id" property="doctor_id" jdbcType="BIGINT" />
    <result column="fs_id" property="fs_id" jdbcType="BIGINT" />
    <result column="real_time" property="real_time" jdbcType="DATE" />
    <result column="follow_doctor" property="follow_doctor" jdbcType="VARCHAR" />
    <result column="follow_way" property="follow_way" jdbcType="TINYINT" />
    <result column="follow_interval" property="follow_interval" jdbcType="TINYINT" />
    <result column="recover_status" property="recover_status" jdbcType="TINYINT" />
    <result column="is_revisit" property="is_revisit" jdbcType="TINYINT" />
    <result column="record_crt_time" property="record_crt_time" jdbcType="DATE" />
    <result column="record_upt_time" property="record_upt_time" jdbcType="DATE" />
    <result column="record_status" property="record_status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    fr_id, ar_id, doctor_id, fs_id, real_time, follow_doctor, follow_way, follow_interval, 
    recover_status, is_revisit, record_crt_time, record_upt_time, record_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_follow_record
    where fr_id = #{fr_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_follow_record
    where fr_id = #{fr_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.FollowRecord" >
    insert into t_follow_record (fr_id, ar_id, doctor_id, 
      fs_id, real_time, follow_doctor, 
      follow_way, follow_interval, recover_status, 
      is_revisit, record_crt_time, record_upt_time, 
      record_status)
    values (#{fr_id,jdbcType=BIGINT}, #{ar_id,jdbcType=BIGINT}, #{doctor_id,jdbcType=BIGINT}, 
      #{fs_id,jdbcType=BIGINT}, #{real_time,jdbcType=DATE}, #{follow_doctor,jdbcType=VARCHAR}, 
      #{follow_way,jdbcType=TINYINT}, #{follow_interval,jdbcType=TINYINT}, #{recover_status,jdbcType=TINYINT}, 
      #{is_revisit,jdbcType=TINYINT}, #{record_crt_time,jdbcType=DATE}, #{record_upt_time,jdbcType=DATE}, 
      #{record_status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.FollowRecord" >
    insert into t_follow_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fr_id != null" >
        fr_id,
      </if>
      <if test="ar_id != null" >
        ar_id,
      </if>
      <if test="doctor_id != null" >
        doctor_id,
      </if>
      <if test="fs_id != null" >
        fs_id,
      </if>
      <if test="real_time != null" >
        real_time,
      </if>
      <if test="follow_doctor != null" >
        follow_doctor,
      </if>
      <if test="follow_way != null" >
        follow_way,
      </if>
      <if test="follow_interval != null" >
        follow_interval,
      </if>
      <if test="recover_status != null" >
        recover_status,
      </if>
      <if test="is_revisit != null" >
        is_revisit,
      </if>
      <if test="record_crt_time != null" >
        record_crt_time,
      </if>
      <if test="record_upt_time != null" >
        record_upt_time,
      </if>
      <if test="record_status != null" >
        record_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fr_id != null" >
        #{fr_id,jdbcType=BIGINT},
      </if>
      <if test="ar_id != null" >
        #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="doctor_id != null" >
        #{doctor_id,jdbcType=BIGINT},
      </if>
      <if test="fs_id != null" >
        #{fs_id,jdbcType=BIGINT},
      </if>
      <if test="real_time != null" >
        #{real_time,jdbcType=DATE},
      </if>
      <if test="follow_doctor != null" >
        #{follow_doctor,jdbcType=VARCHAR},
      </if>
      <if test="follow_way != null" >
        #{follow_way,jdbcType=TINYINT},
      </if>
      <if test="follow_interval != null" >
        #{follow_interval,jdbcType=TINYINT},
      </if>
      <if test="recover_status != null" >
        #{recover_status,jdbcType=TINYINT},
      </if>
      <if test="is_revisit != null" >
        #{is_revisit,jdbcType=TINYINT},
      </if>
      <if test="record_crt_time != null" >
        #{record_crt_time,jdbcType=DATE},
      </if>
      <if test="record_upt_time != null" >
        #{record_upt_time,jdbcType=DATE},
      </if>
      <if test="record_status != null" >
        #{record_status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.FollowRecord" >
    update t_follow_record
    <set >
      <if test="ar_id != null" >
        ar_id = #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="doctor_id != null" >
        doctor_id = #{doctor_id,jdbcType=BIGINT},
      </if>
      <if test="fs_id != null" >
        fs_id = #{fs_id,jdbcType=BIGINT},
      </if>
      <if test="real_time != null" >
        real_time = #{real_time,jdbcType=DATE},
      </if>
      <if test="follow_doctor != null" >
        follow_doctor = #{follow_doctor,jdbcType=VARCHAR},
      </if>
      <if test="follow_way != null" >
        follow_way = #{follow_way,jdbcType=TINYINT},
      </if>
      <if test="follow_interval != null" >
        follow_interval = #{follow_interval,jdbcType=TINYINT},
      </if>
      <if test="recover_status != null" >
        recover_status = #{recover_status,jdbcType=TINYINT},
      </if>
      <if test="is_revisit != null" >
        is_revisit = #{is_revisit,jdbcType=TINYINT},
      </if>
      <if test="record_crt_time != null" >
        record_crt_time = #{record_crt_time,jdbcType=DATE},
      </if>
      <if test="record_upt_time != null" >
        record_upt_time = #{record_upt_time,jdbcType=DATE},
      </if>
      <if test="record_status != null" >
        record_status = #{record_status,jdbcType=TINYINT},
      </if>
    </set>
    where fr_id = #{fr_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.FollowRecord" >
    update t_follow_record
    set ar_id = #{ar_id,jdbcType=BIGINT},
      doctor_id = #{doctor_id,jdbcType=BIGINT},
      fs_id = #{fs_id,jdbcType=BIGINT},
      real_time = #{real_time,jdbcType=DATE},
      follow_doctor = #{follow_doctor,jdbcType=VARCHAR},
      follow_way = #{follow_way,jdbcType=TINYINT},
      follow_interval = #{follow_interval,jdbcType=TINYINT},
      recover_status = #{recover_status,jdbcType=TINYINT},
      is_revisit = #{is_revisit,jdbcType=TINYINT},
      record_crt_time = #{record_crt_time,jdbcType=DATE},
      record_upt_time = #{record_upt_time,jdbcType=DATE},
      record_status = #{record_status,jdbcType=TINYINT}
    where fr_id = #{fr_id,jdbcType=BIGINT}
  </update>
</mapper>