<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lab.c505.dao.HospitalMapper" >
  <resultMap id="BaseResultMap" type="lab.c505.entity.Hospital" >
    <id column="hosp_id" property="hosp_id" jdbcType="BIGINT" />
    <result column="hosp_name" property="hosp_name" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    hosp_id, hosp_name, address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hospital
    where hosp_id = #{hosp_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hospital
    where hosp_id = #{hosp_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.Hospital" >
    insert into hospital (hosp_id, hosp_name, address
      )
    values (#{hosp_id,jdbcType=BIGINT}, #{hosp_name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.Hospital" >
    insert into hospital
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="hosp_id != null" >
        hosp_id,
      </if>
      <if test="hosp_name != null" >
        hosp_name,
      </if>
      <if test="address != null" >
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="hosp_id != null" >
        #{hosp_id,jdbcType=BIGINT},
      </if>
      <if test="hosp_name != null" >
        #{hosp_name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.Hospital" >
    update hospital
    <set >
      <if test="hosp_name != null" >
        hosp_name = #{hosp_name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where hosp_id = #{hosp_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.Hospital" >
    update hospital
    set hosp_name = #{hosp_name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    where hosp_id = #{hosp_id,jdbcType=BIGINT}
  </update>
</mapper>