<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lab.c505.dao.LiverKidneyMapper">
  <resultMap id="BaseResultMap" type="lab.c505.entity.LiverKidney">
    <id column="lk_id" jdbcType="BIGINT" property="lk_id" />
    <result column="ar_id" jdbcType="BIGINT" property="ar_id" />
    <result column="exam_time" jdbcType="DATE" property="exam_time" />
    <result column="alt" jdbcType="REAL" property="alt" />
    <result column="ast" jdbcType="REAL" property="ast" />
    <result column="glu" jdbcType="REAL" property="glu" />
    <result column="ua" jdbcType="REAL" property="ua" />
    <result column="cr" jdbcType="REAL" property="cr" />
  </resultMap>
  <sql id="Base_Column_List">
    lk_id, ar_id, exam_time, alt, ast, glu, ua, cr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_liver_kidney
    where lk_id = #{lk_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_liver_kidney
    where lk_id = #{lk_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.LiverKidney">
    insert into t_liver_kidney (lk_id, ar_id, exam_time, 
      alt, ast, glu, ua, 
      cr)
    values (#{lk_id,jdbcType=BIGINT}, #{ar_id,jdbcType=BIGINT}, #{exam_time,jdbcType=DATE}, 
      #{alt,jdbcType=REAL}, #{ast,jdbcType=REAL}, #{glu,jdbcType=REAL}, #{ua,jdbcType=REAL}, 
      #{cr,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.LiverKidney">
    insert into t_liver_kidney
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lk_id != null">
        lk_id,
      </if>
      <if test="ar_id != null">
        ar_id,
      </if>
      <if test="exam_time != null">
        exam_time,
      </if>
      <if test="alt != null">
        alt,
      </if>
      <if test="ast != null">
        ast,
      </if>
      <if test="glu != null">
        glu,
      </if>
      <if test="ua != null">
        ua,
      </if>
      <if test="cr != null">
        cr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lk_id != null">
        #{lk_id,jdbcType=BIGINT},
      </if>
      <if test="ar_id != null">
        #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="exam_time != null">
        #{exam_time,jdbcType=DATE},
      </if>
      <if test="alt != null">
        #{alt,jdbcType=REAL},
      </if>
      <if test="ast != null">
        #{ast,jdbcType=REAL},
      </if>
      <if test="glu != null">
        #{glu,jdbcType=REAL},
      </if>
      <if test="ua != null">
        #{ua,jdbcType=REAL},
      </if>
      <if test="cr != null">
        #{cr,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.LiverKidney">
    update t_liver_kidney
    <set>
      <if test="ar_id != null">
        ar_id = #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="exam_time != null">
        exam_time = #{exam_time,jdbcType=DATE},
      </if>
      <if test="alt != null">
        alt = #{alt,jdbcType=REAL},
      </if>
      <if test="ast != null">
        ast = #{ast,jdbcType=REAL},
      </if>
      <if test="glu != null">
        glu = #{glu,jdbcType=REAL},
      </if>
      <if test="ua != null">
        ua = #{ua,jdbcType=REAL},
      </if>
      <if test="cr != null">
        cr = #{cr,jdbcType=REAL},
      </if>
    </set>
    where lk_id = #{lk_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.LiverKidney">
    update t_liver_kidney
    set ar_id = #{ar_id,jdbcType=BIGINT},
      exam_time = #{exam_time,jdbcType=DATE},
      alt = #{alt,jdbcType=REAL},
      ast = #{ast,jdbcType=REAL},
      glu = #{glu,jdbcType=REAL},
      ua = #{ua,jdbcType=REAL},
      cr = #{cr,jdbcType=REAL}
    where lk_id = #{lk_id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="lab.c505.entity.LiverKidney">
    <id column="lk_id" jdbcType="BIGINT" property="lk_id" />
    <result column="ar_id" jdbcType="BIGINT" property="ar_id" />
    <result column="exam_time" jdbcType="DATE" property="exam_time" />
    <result column="alt" jdbcType="REAL" property="alt" />
    <result column="ast" jdbcType="REAL" property="ast" />
    <result column="glu" jdbcType="REAL" property="glu" />
    <result column="ua" jdbcType="REAL" property="ua" />
    <result column="cr" jdbcType="REAL" property="cr" />
  </resultMap>
  <sql id="Base_Column_List">
    lk_id, ar_id, exam_time, alt, ast, glu, ua, cr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_liver_kidney
    where lk_id = #{lk_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_liver_kidney
    where lk_id = #{lk_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.LiverKidney">
    insert into t_liver_kidney (lk_id, ar_id, exam_time, 
      alt, ast, glu, ua, 
      cr)
    values (#{lk_id,jdbcType=BIGINT}, #{ar_id,jdbcType=BIGINT}, #{exam_time,jdbcType=DATE}, 
      #{alt,jdbcType=REAL}, #{ast,jdbcType=REAL}, #{glu,jdbcType=REAL}, #{ua,jdbcType=REAL}, 
      #{cr,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.LiverKidney">
    insert into t_liver_kidney
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lk_id != null">
        lk_id,
      </if>
      <if test="ar_id != null">
        ar_id,
      </if>
      <if test="exam_time != null">
        exam_time,
      </if>
      <if test="alt != null">
        alt,
      </if>
      <if test="ast != null">
        ast,
      </if>
      <if test="glu != null">
        glu,
      </if>
      <if test="ua != null">
        ua,
      </if>
      <if test="cr != null">
        cr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lk_id != null">
        #{lk_id,jdbcType=BIGINT},
      </if>
      <if test="ar_id != null">
        #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="exam_time != null">
        #{exam_time,jdbcType=DATE},
      </if>
      <if test="alt != null">
        #{alt,jdbcType=REAL},
      </if>
      <if test="ast != null">
        #{ast,jdbcType=REAL},
      </if>
      <if test="glu != null">
        #{glu,jdbcType=REAL},
      </if>
      <if test="ua != null">
        #{ua,jdbcType=REAL},
      </if>
      <if test="cr != null">
        #{cr,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.LiverKidney">
    update t_liver_kidney
    <set>
      <if test="ar_id != null">
        ar_id = #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="exam_time != null">
        exam_time = #{exam_time,jdbcType=DATE},
      </if>
      <if test="alt != null">
        alt = #{alt,jdbcType=REAL},
      </if>
      <if test="ast != null">
        ast = #{ast,jdbcType=REAL},
      </if>
      <if test="glu != null">
        glu = #{glu,jdbcType=REAL},
      </if>
      <if test="ua != null">
        ua = #{ua,jdbcType=REAL},
      </if>
      <if test="cr != null">
        cr = #{cr,jdbcType=REAL},
      </if>
    </set>
    where lk_id = #{lk_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.LiverKidney">
    update t_liver_kidney
    set ar_id = #{ar_id,jdbcType=BIGINT},
      exam_time = #{exam_time,jdbcType=DATE},
      alt = #{alt,jdbcType=REAL},
      ast = #{ast,jdbcType=REAL},
      glu = #{glu,jdbcType=REAL},
      ua = #{ua,jdbcType=REAL},
      cr = #{cr,jdbcType=REAL}
    where lk_id = #{lk_id,jdbcType=BIGINT}
  </update>
</mapper>