<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lab.c505.dao.MedicationRegimenMapper">
  <resultMap id="BaseResultMap" type="lab.c505.entity.MedicationRegimen">
    <id column="mr_id" jdbcType="BIGINT" property="mr_id" />
    <result column="patient_id" jdbcType="BIGINT" property="patient_id" />
    <result column="ar_id" jdbcType="BIGINT" property="ar_id" />
    <result column="drug_name" jdbcType="VARCHAR" property="drug_name" />
    <result column="drug_num" jdbcType="VARCHAR" property="drug_num" />
    <result column="drug_time" jdbcType="TINYINT" property="drug_time" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    mr_id, patient_id, ar_id, drug_name, drug_num, drug_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_medication_regimen
    where mr_id = #{mr_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_medication_regimen
    where mr_id = #{mr_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.MedicationRegimen">
    insert into t_medication_regimen (mr_id, patient_id, ar_id, 
      drug_name, drug_num, drug_time, 
      remark)
    values (#{mr_id,jdbcType=BIGINT}, #{patient_id,jdbcType=BIGINT}, #{ar_id,jdbcType=BIGINT}, 
      #{drug_name,jdbcType=VARCHAR}, #{drug_num,jdbcType=VARCHAR}, #{drug_time,jdbcType=TINYINT}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.MedicationRegimen">
    insert into t_medication_regimen
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mr_id != null">
        mr_id,
      </if>
      <if test="patient_id != null">
        patient_id,
      </if>
      <if test="ar_id != null">
        ar_id,
      </if>
      <if test="drug_name != null">
        drug_name,
      </if>
      <if test="drug_num != null">
        drug_num,
      </if>
      <if test="drug_time != null">
        drug_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mr_id != null">
        #{mr_id,jdbcType=BIGINT},
      </if>
      <if test="patient_id != null">
        #{patient_id,jdbcType=BIGINT},
      </if>
      <if test="ar_id != null">
        #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="drug_name != null">
        #{drug_name,jdbcType=VARCHAR},
      </if>
      <if test="drug_num != null">
        #{drug_num,jdbcType=VARCHAR},
      </if>
      <if test="drug_time != null">
        #{drug_time,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.MedicationRegimen">
    update t_medication_regimen
    <set>
      <if test="patient_id != null">
        patient_id = #{patient_id,jdbcType=BIGINT},
      </if>
      <if test="ar_id != null">
        ar_id = #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="drug_name != null">
        drug_name = #{drug_name,jdbcType=VARCHAR},
      </if>
      <if test="drug_num != null">
        drug_num = #{drug_num,jdbcType=VARCHAR},
      </if>
      <if test="drug_time != null">
        drug_time = #{drug_time,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where mr_id = #{mr_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.MedicationRegimen">
    update t_medication_regimen
    set patient_id = #{patient_id,jdbcType=BIGINT},
      ar_id = #{ar_id,jdbcType=BIGINT},
      drug_name = #{drug_name,jdbcType=VARCHAR},
      drug_num = #{drug_num,jdbcType=VARCHAR},
      drug_time = #{drug_time,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR}
    where mr_id = #{mr_id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="lab.c505.entity.MedicationRegimen">
    <id column="mr_id" jdbcType="BIGINT" property="mr_id" />
    <result column="patient_id" jdbcType="BIGINT" property="patient_id" />
    <result column="ar_id" jdbcType="BIGINT" property="ar_id" />
    <result column="drug_name" jdbcType="VARCHAR" property="drug_name" />
    <result column="drug_num" jdbcType="VARCHAR" property="drug_num" />
    <result column="drug_time" jdbcType="TINYINT" property="drug_time" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    mr_id, patient_id, ar_id, drug_name, drug_num, drug_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_medication_regimen
    where mr_id = #{mr_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_medication_regimen
    where mr_id = #{mr_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.MedicationRegimen">
    insert into t_medication_regimen (mr_id, patient_id, ar_id, 
      drug_name, drug_num, drug_time, 
      remark)
    values (#{mr_id,jdbcType=BIGINT}, #{patient_id,jdbcType=BIGINT}, #{ar_id,jdbcType=BIGINT}, 
      #{drug_name,jdbcType=VARCHAR}, #{drug_num,jdbcType=VARCHAR}, #{drug_time,jdbcType=TINYINT}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.MedicationRegimen">
    insert into t_medication_regimen
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mr_id != null">
        mr_id,
      </if>
      <if test="patient_id != null">
        patient_id,
      </if>
      <if test="ar_id != null">
        ar_id,
      </if>
      <if test="drug_name != null">
        drug_name,
      </if>
      <if test="drug_num != null">
        drug_num,
      </if>
      <if test="drug_time != null">
        drug_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mr_id != null">
        #{mr_id,jdbcType=BIGINT},
      </if>
      <if test="patient_id != null">
        #{patient_id,jdbcType=BIGINT},
      </if>
      <if test="ar_id != null">
        #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="drug_name != null">
        #{drug_name,jdbcType=VARCHAR},
      </if>
      <if test="drug_num != null">
        #{drug_num,jdbcType=VARCHAR},
      </if>
      <if test="drug_time != null">
        #{drug_time,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.MedicationRegimen">
    update t_medication_regimen
    <set>
      <if test="patient_id != null">
        patient_id = #{patient_id,jdbcType=BIGINT},
      </if>
      <if test="ar_id != null">
        ar_id = #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="drug_name != null">
        drug_name = #{drug_name,jdbcType=VARCHAR},
      </if>
      <if test="drug_num != null">
        drug_num = #{drug_num,jdbcType=VARCHAR},
      </if>
      <if test="drug_time != null">
        drug_time = #{drug_time,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where mr_id = #{mr_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.MedicationRegimen">
    update t_medication_regimen
    set patient_id = #{patient_id,jdbcType=BIGINT},
      ar_id = #{ar_id,jdbcType=BIGINT},
      drug_name = #{drug_name,jdbcType=VARCHAR},
      drug_num = #{drug_num,jdbcType=VARCHAR},
      drug_time = #{drug_time,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR}
    where mr_id = #{mr_id,jdbcType=BIGINT}
  </update>
</mapper>