<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lab.c505.dao.PciMapper">
  <resultMap id="BaseResultMap" type="lab.c505.entity.Pci">
    <id column="pci_id" jdbcType="BIGINT" property="pci_id" />
    <result column="ar_id" jdbcType="BIGINT" property="ar_id" />
    <result column="ctnt" jdbcType="REAL" property="ctnt" />
    <result column="ck" jdbcType="REAL" property="ck" />
    <result column="ck_mb" jdbcType="REAL" property="ck_mb" />
    <result column="cr" jdbcType="REAL" property="cr" />
    <result column="exam_time" jdbcType="DATE" property="exam_time" />
  </resultMap>
  <sql id="Base_Column_List">
    pci_id, ar_id, ctnt, ck, ck_mb, cr, exam_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_pci
    where pci_id = #{pci_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_pci
    where pci_id = #{pci_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.Pci">
    insert into t_pci (pci_id, ar_id, ctnt, 
      ck, ck_mb, cr, exam_time
      )
    values (#{pci_id,jdbcType=BIGINT}, #{ar_id,jdbcType=BIGINT}, #{ctnt,jdbcType=REAL}, 
      #{ck,jdbcType=REAL}, #{ck_mb,jdbcType=REAL}, #{cr,jdbcType=REAL}, #{exam_time,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.Pci">
    insert into t_pci
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pci_id != null">
        pci_id,
      </if>
      <if test="ar_id != null">
        ar_id,
      </if>
      <if test="ctnt != null">
        ctnt,
      </if>
      <if test="ck != null">
        ck,
      </if>
      <if test="ck_mb != null">
        ck_mb,
      </if>
      <if test="cr != null">
        cr,
      </if>
      <if test="exam_time != null">
        exam_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pci_id != null">
        #{pci_id,jdbcType=BIGINT},
      </if>
      <if test="ar_id != null">
        #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="ctnt != null">
        #{ctnt,jdbcType=REAL},
      </if>
      <if test="ck != null">
        #{ck,jdbcType=REAL},
      </if>
      <if test="ck_mb != null">
        #{ck_mb,jdbcType=REAL},
      </if>
      <if test="cr != null">
        #{cr,jdbcType=REAL},
      </if>
      <if test="exam_time != null">
        #{exam_time,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.Pci">
    update t_pci
    <set>
      <if test="ar_id != null">
        ar_id = #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="ctnt != null">
        ctnt = #{ctnt,jdbcType=REAL},
      </if>
      <if test="ck != null">
        ck = #{ck,jdbcType=REAL},
      </if>
      <if test="ck_mb != null">
        ck_mb = #{ck_mb,jdbcType=REAL},
      </if>
      <if test="cr != null">
        cr = #{cr,jdbcType=REAL},
      </if>
      <if test="exam_time != null">
        exam_time = #{exam_time,jdbcType=DATE},
      </if>
    </set>
    where pci_id = #{pci_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.Pci">
    update t_pci
    set ar_id = #{ar_id,jdbcType=BIGINT},
      ctnt = #{ctnt,jdbcType=REAL},
      ck = #{ck,jdbcType=REAL},
      ck_mb = #{ck_mb,jdbcType=REAL},
      cr = #{cr,jdbcType=REAL},
      exam_time = #{exam_time,jdbcType=DATE}
    where pci_id = #{pci_id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="lab.c505.entity.Pci">
    <id column="pci_id" jdbcType="BIGINT" property="pci_id" />
    <result column="ar_id" jdbcType="BIGINT" property="ar_id" />
    <result column="ctnt" jdbcType="REAL" property="ctnt" />
    <result column="ck" jdbcType="REAL" property="ck" />
    <result column="ck_mb" jdbcType="REAL" property="ck_mb" />
    <result column="cr" jdbcType="REAL" property="cr" />
    <result column="exam_time" jdbcType="DATE" property="exam_time" />
  </resultMap>
  <sql id="Base_Column_List">
    pci_id, ar_id, ctnt, ck, ck_mb, cr, exam_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_pci
    where pci_id = #{pci_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_pci
    where pci_id = #{pci_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.Pci">
    insert into t_pci (pci_id, ar_id, ctnt, 
      ck, ck_mb, cr, exam_time
      )
    values (#{pci_id,jdbcType=BIGINT}, #{ar_id,jdbcType=BIGINT}, #{ctnt,jdbcType=REAL}, 
      #{ck,jdbcType=REAL}, #{ck_mb,jdbcType=REAL}, #{cr,jdbcType=REAL}, #{exam_time,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.Pci">
    insert into t_pci
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pci_id != null">
        pci_id,
      </if>
      <if test="ar_id != null">
        ar_id,
      </if>
      <if test="ctnt != null">
        ctnt,
      </if>
      <if test="ck != null">
        ck,
      </if>
      <if test="ck_mb != null">
        ck_mb,
      </if>
      <if test="cr != null">
        cr,
      </if>
      <if test="exam_time != null">
        exam_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pci_id != null">
        #{pci_id,jdbcType=BIGINT},
      </if>
      <if test="ar_id != null">
        #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="ctnt != null">
        #{ctnt,jdbcType=REAL},
      </if>
      <if test="ck != null">
        #{ck,jdbcType=REAL},
      </if>
      <if test="ck_mb != null">
        #{ck_mb,jdbcType=REAL},
      </if>
      <if test="cr != null">
        #{cr,jdbcType=REAL},
      </if>
      <if test="exam_time != null">
        #{exam_time,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.Pci">
    update t_pci
    <set>
      <if test="ar_id != null">
        ar_id = #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="ctnt != null">
        ctnt = #{ctnt,jdbcType=REAL},
      </if>
      <if test="ck != null">
        ck = #{ck,jdbcType=REAL},
      </if>
      <if test="ck_mb != null">
        ck_mb = #{ck_mb,jdbcType=REAL},
      </if>
      <if test="cr != null">
        cr = #{cr,jdbcType=REAL},
      </if>
      <if test="exam_time != null">
        exam_time = #{exam_time,jdbcType=DATE},
      </if>
    </set>
    where pci_id = #{pci_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.Pci">
    update t_pci
    set ar_id = #{ar_id,jdbcType=BIGINT},
      ctnt = #{ctnt,jdbcType=REAL},
      ck = #{ck,jdbcType=REAL},
      ck_mb = #{ck_mb,jdbcType=REAL},
      cr = #{cr,jdbcType=REAL},
      exam_time = #{exam_time,jdbcType=DATE}
    where pci_id = #{pci_id,jdbcType=BIGINT}
  </update>
</mapper>