<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lab.c505.dao.PciScoreMapper">
  <resultMap id="BaseResultMap" type="lab.c505.entity.PciScore">
    <id column="pcis_id" jdbcType="BIGINT" property="pcis_id" />
    <result column="ar_id" jdbcType="BIGINT" property="ar_id" />
    <result column="grace" jdbcType="TINYINT" property="grace" />
    <result column="dapt" jdbcType="TINYINT" property="dapt" />
    <result column="crucede" jdbcType="TINYINT" property="crucede" />
  </resultMap>
  <sql id="Base_Column_List">
    pcis_id, ar_id, grace, dapt, crucede
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_pci_score
    where pcis_id = #{pcis_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_pci_score
    where pcis_id = #{pcis_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.PciScore">
    insert into t_pci_score (pcis_id, ar_id, grace, 
      dapt, crucede)
    values (#{pcis_id,jdbcType=BIGINT}, #{ar_id,jdbcType=BIGINT}, #{grace,jdbcType=TINYINT}, 
      #{dapt,jdbcType=TINYINT}, #{crucede,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.PciScore">
    insert into t_pci_score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pcis_id != null">
        pcis_id,
      </if>
      <if test="ar_id != null">
        ar_id,
      </if>
      <if test="grace != null">
        grace,
      </if>
      <if test="dapt != null">
        dapt,
      </if>
      <if test="crucede != null">
        crucede,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pcis_id != null">
        #{pcis_id,jdbcType=BIGINT},
      </if>
      <if test="ar_id != null">
        #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="grace != null">
        #{grace,jdbcType=TINYINT},
      </if>
      <if test="dapt != null">
        #{dapt,jdbcType=TINYINT},
      </if>
      <if test="crucede != null">
        #{crucede,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.PciScore">
    update t_pci_score
    <set>
      <if test="ar_id != null">
        ar_id = #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="grace != null">
        grace = #{grace,jdbcType=TINYINT},
      </if>
      <if test="dapt != null">
        dapt = #{dapt,jdbcType=TINYINT},
      </if>
      <if test="crucede != null">
        crucede = #{crucede,jdbcType=TINYINT},
      </if>
    </set>
    where pcis_id = #{pcis_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.PciScore">
    update t_pci_score
    set ar_id = #{ar_id,jdbcType=BIGINT},
      grace = #{grace,jdbcType=TINYINT},
      dapt = #{dapt,jdbcType=TINYINT},
      crucede = #{crucede,jdbcType=TINYINT}
    where pcis_id = #{pcis_id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="lab.c505.entity.PciScore">
    <id column="pcis_id" jdbcType="BIGINT" property="pcis_id" />
    <result column="ar_id" jdbcType="BIGINT" property="ar_id" />
    <result column="grace" jdbcType="TINYINT" property="grace" />
    <result column="dapt" jdbcType="TINYINT" property="dapt" />
    <result column="crucede" jdbcType="TINYINT" property="crucede" />
  </resultMap>
  <sql id="Base_Column_List">
    pcis_id, ar_id, grace, dapt, crucede
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_pci_score
    where pcis_id = #{pcis_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_pci_score
    where pcis_id = #{pcis_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.PciScore">
    insert into t_pci_score (pcis_id, ar_id, grace, 
      dapt, crucede)
    values (#{pcis_id,jdbcType=BIGINT}, #{ar_id,jdbcType=BIGINT}, #{grace,jdbcType=TINYINT}, 
      #{dapt,jdbcType=TINYINT}, #{crucede,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.PciScore">
    insert into t_pci_score
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pcis_id != null">
        pcis_id,
      </if>
      <if test="ar_id != null">
        ar_id,
      </if>
      <if test="grace != null">
        grace,
      </if>
      <if test="dapt != null">
        dapt,
      </if>
      <if test="crucede != null">
        crucede,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pcis_id != null">
        #{pcis_id,jdbcType=BIGINT},
      </if>
      <if test="ar_id != null">
        #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="grace != null">
        #{grace,jdbcType=TINYINT},
      </if>
      <if test="dapt != null">
        #{dapt,jdbcType=TINYINT},
      </if>
      <if test="crucede != null">
        #{crucede,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.PciScore">
    update t_pci_score
    <set>
      <if test="ar_id != null">
        ar_id = #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="grace != null">
        grace = #{grace,jdbcType=TINYINT},
      </if>
      <if test="dapt != null">
        dapt = #{dapt,jdbcType=TINYINT},
      </if>
      <if test="crucede != null">
        crucede = #{crucede,jdbcType=TINYINT},
      </if>
    </set>
    where pcis_id = #{pcis_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.PciScore">
    update t_pci_score
    set ar_id = #{ar_id,jdbcType=BIGINT},
      grace = #{grace,jdbcType=TINYINT},
      dapt = #{dapt,jdbcType=TINYINT},
      crucede = #{crucede,jdbcType=TINYINT}
    where pcis_id = #{pcis_id,jdbcType=BIGINT}
  </update>
</mapper>