<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lab.c505.dao.PciVascularApproachMapper" >
  <resultMap id="BaseResultMap" type="lab.c505.entity.PciVascularApproach" >
    <id column="pva_id" property="pva_id" jdbcType="BIGINT" />
    <result column="ar_id" property="ar_id" jdbcType="BIGINT" />
    <result column="left_iliac_artery" property="left_iliac_artery" jdbcType="TINYINT" />
    <result column="right_iliac_artery" property="right_iliac_artery" jdbcType="TINYINT" />
    <result column="left_femoral_artery" property="left_femoral_artery" jdbcType="TINYINT" />
    <result column="right_femoral_artery" property="right_femoral_artery" jdbcType="TINYINT" />
    <result column="ulnar_artery" property="ulnar_artery" jdbcType="TINYINT" />
    <result column="radial_artery" property="radial_artery" jdbcType="TINYINT" />
    <result column="guide_catheter_lm" property="guide_catheter_lm" jdbcType="VARCHAR" />
    <result column="guide_catheter_lad" property="guide_catheter_lad" jdbcType="VARCHAR" />
    <result column="guide_catheter_lcx" property="guide_catheter_lcx" jdbcType="VARCHAR" />
    <result column="guide_catheter_rca" property="guide_catheter_rca" jdbcType="VARCHAR" />
    <result column="guide_wire_lm" property="guide_wire_lm" jdbcType="VARCHAR" />
    <result column="guide_wire_lad" property="guide_wire_lad" jdbcType="VARCHAR" />
    <result column="guide_wire_lcx" property="guide_wire_lcx" jdbcType="VARCHAR" />
    <result column="guide_wire_rca" property="guide_wire_rca" jdbcType="VARCHAR" />
    <result column="pre_balloon_lm" property="pre_balloon_lm" jdbcType="VARCHAR" />
    <result column="pre_balloon_lad" property="pre_balloon_lad" jdbcType="VARCHAR" />
    <result column="pre_balloon_lcx" property="pre_balloon_lcx" jdbcType="VARCHAR" />
    <result column="pre_balloon_rca" property="pre_balloon_rca" jdbcType="VARCHAR" />
    <result column="bracket_size_lm" property="bracket_size_lm" jdbcType="VARCHAR" />
    <result column="bracket_size_lad" property="bracket_size_lad" jdbcType="VARCHAR" />
    <result column="bracket_size_lcx" property="bracket_size_lcx" jdbcType="VARCHAR" />
    <result column="bracket_size_rca" property="bracket_size_rca" jdbcType="VARCHAR" />
    <result column="aft_balloon_lm" property="aft_balloon_lm" jdbcType="VARCHAR" />
    <result column="aft_balloon_lad" property="aft_balloon_lad" jdbcType="VARCHAR" />
    <result column="aft_balloon_lcx" property="aft_balloon_lcx" jdbcType="VARCHAR" />
    <result column="aft_balloon_rca" property="aft_balloon_rca" jdbcType="VARCHAR" />
    <result column="normal" property="normal" jdbcType="TINYINT" />
    <result column="no_reflow" property="no_reflow" jdbcType="TINYINT" />
    <result column="coronary_perforation" property="coronary_perforation" jdbcType="TINYINT" />
    <result column="coronary_tear" property="coronary_tear" jdbcType="TINYINT" />
    <result column="endovascular_hemorrhage" property="endovascular_hemorrhage" jdbcType="TINYINT" />
    <result column="acute_occlusion" property="acute_occlusion" jdbcType="TINYINT" />
    <result column="pericardial_filling" property="pericardial_filling" jdbcType="TINYINT" />
    <result column="instrument_shedding" property="instrument_shedding" jdbcType="TINYINT" />
    <result column="balloon_no_recovered" property="balloon_no_recovered" jdbcType="TINYINT" />
    <result column="embolism" property="embolism" jdbcType="TINYINT" />
    <result column="arrhythmia" property="arrhythmia" jdbcType="TINYINT" />
    <result column="dead" property="dead" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    pva_id, ar_id, left_iliac_artery, right_iliac_artery, left_femoral_artery, right_femoral_artery, 
    ulnar_artery, radial_artery, guide_catheter_lm, guide_catheter_lad, guide_catheter_lcx, 
    guide_catheter_rca, guide_wire_lm, guide_wire_lad, guide_wire_lcx, guide_wire_rca, 
    pre_balloon_lm, pre_balloon_lad, pre_balloon_lcx, pre_balloon_rca, bracket_size_lm, 
    bracket_size_lad, bracket_size_lcx, bracket_size_rca, aft_balloon_lm, aft_balloon_lad, 
    aft_balloon_lcx, aft_balloon_rca, normal, no_reflow, coronary_perforation, coronary_tear, 
    endovascular_hemorrhage, acute_occlusion, pericardial_filling, instrument_shedding, 
    balloon_no_recovered, embolism, arrhythmia, dead
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_pci_vascular_approach
    where pva_id = #{pva_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_pci_vascular_approach
    where pva_id = #{pva_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.PciVascularApproach" >
    insert into t_pci_vascular_approach (pva_id, ar_id, left_iliac_artery, 
      right_iliac_artery, left_femoral_artery, 
      right_femoral_artery, ulnar_artery, radial_artery, 
      guide_catheter_lm, guide_catheter_lad, 
      guide_catheter_lcx, guide_catheter_rca, 
      guide_wire_lm, guide_wire_lad, guide_wire_lcx, 
      guide_wire_rca, pre_balloon_lm, pre_balloon_lad, 
      pre_balloon_lcx, pre_balloon_rca, bracket_size_lm, 
      bracket_size_lad, bracket_size_lcx, bracket_size_rca, 
      aft_balloon_lm, aft_balloon_lad, aft_balloon_lcx, 
      aft_balloon_rca, normal, no_reflow, 
      coronary_perforation, coronary_tear, endovascular_hemorrhage, 
      acute_occlusion, pericardial_filling, instrument_shedding, 
      balloon_no_recovered, embolism, arrhythmia, 
      dead)
    values (#{pva_id,jdbcType=BIGINT}, #{ar_id,jdbcType=BIGINT}, #{left_iliac_artery,jdbcType=TINYINT}, 
      #{right_iliac_artery,jdbcType=TINYINT}, #{left_femoral_artery,jdbcType=TINYINT}, 
      #{right_femoral_artery,jdbcType=TINYINT}, #{ulnar_artery,jdbcType=TINYINT}, #{radial_artery,jdbcType=TINYINT}, 
      #{guide_catheter_lm,jdbcType=VARCHAR}, #{guide_catheter_lad,jdbcType=VARCHAR}, 
      #{guide_catheter_lcx,jdbcType=VARCHAR}, #{guide_catheter_rca,jdbcType=VARCHAR}, 
      #{guide_wire_lm,jdbcType=VARCHAR}, #{guide_wire_lad,jdbcType=VARCHAR}, #{guide_wire_lcx,jdbcType=VARCHAR}, 
      #{guide_wire_rca,jdbcType=VARCHAR}, #{pre_balloon_lm,jdbcType=VARCHAR}, #{pre_balloon_lad,jdbcType=VARCHAR}, 
      #{pre_balloon_lcx,jdbcType=VARCHAR}, #{pre_balloon_rca,jdbcType=VARCHAR}, #{bracket_size_lm,jdbcType=VARCHAR}, 
      #{bracket_size_lad,jdbcType=VARCHAR}, #{bracket_size_lcx,jdbcType=VARCHAR}, #{bracket_size_rca,jdbcType=VARCHAR}, 
      #{aft_balloon_lm,jdbcType=VARCHAR}, #{aft_balloon_lad,jdbcType=VARCHAR}, #{aft_balloon_lcx,jdbcType=VARCHAR}, 
      #{aft_balloon_rca,jdbcType=VARCHAR}, #{normal,jdbcType=TINYINT}, #{no_reflow,jdbcType=TINYINT}, 
      #{coronary_perforation,jdbcType=TINYINT}, #{coronary_tear,jdbcType=TINYINT}, #{endovascular_hemorrhage,jdbcType=TINYINT}, 
      #{acute_occlusion,jdbcType=TINYINT}, #{pericardial_filling,jdbcType=TINYINT}, #{instrument_shedding,jdbcType=TINYINT}, 
      #{balloon_no_recovered,jdbcType=TINYINT}, #{embolism,jdbcType=TINYINT}, #{arrhythmia,jdbcType=TINYINT}, 
      #{dead,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.PciVascularApproach" >
    insert into t_pci_vascular_approach
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pva_id != null" >
        pva_id,
      </if>
      <if test="ar_id != null" >
        ar_id,
      </if>
      <if test="left_iliac_artery != null" >
        left_iliac_artery,
      </if>
      <if test="right_iliac_artery != null" >
        right_iliac_artery,
      </if>
      <if test="left_femoral_artery != null" >
        left_femoral_artery,
      </if>
      <if test="right_femoral_artery != null" >
        right_femoral_artery,
      </if>
      <if test="ulnar_artery != null" >
        ulnar_artery,
      </if>
      <if test="radial_artery != null" >
        radial_artery,
      </if>
      <if test="guide_catheter_lm != null" >
        guide_catheter_lm,
      </if>
      <if test="guide_catheter_lad != null" >
        guide_catheter_lad,
      </if>
      <if test="guide_catheter_lcx != null" >
        guide_catheter_lcx,
      </if>
      <if test="guide_catheter_rca != null" >
        guide_catheter_rca,
      </if>
      <if test="guide_wire_lm != null" >
        guide_wire_lm,
      </if>
      <if test="guide_wire_lad != null" >
        guide_wire_lad,
      </if>
      <if test="guide_wire_lcx != null" >
        guide_wire_lcx,
      </if>
      <if test="guide_wire_rca != null" >
        guide_wire_rca,
      </if>
      <if test="pre_balloon_lm != null" >
        pre_balloon_lm,
      </if>
      <if test="pre_balloon_lad != null" >
        pre_balloon_lad,
      </if>
      <if test="pre_balloon_lcx != null" >
        pre_balloon_lcx,
      </if>
      <if test="pre_balloon_rca != null" >
        pre_balloon_rca,
      </if>
      <if test="bracket_size_lm != null" >
        bracket_size_lm,
      </if>
      <if test="bracket_size_lad != null" >
        bracket_size_lad,
      </if>
      <if test="bracket_size_lcx != null" >
        bracket_size_lcx,
      </if>
      <if test="bracket_size_rca != null" >
        bracket_size_rca,
      </if>
      <if test="aft_balloon_lm != null" >
        aft_balloon_lm,
      </if>
      <if test="aft_balloon_lad != null" >
        aft_balloon_lad,
      </if>
      <if test="aft_balloon_lcx != null" >
        aft_balloon_lcx,
      </if>
      <if test="aft_balloon_rca != null" >
        aft_balloon_rca,
      </if>
      <if test="normal != null" >
        normal,
      </if>
      <if test="no_reflow != null" >
        no_reflow,
      </if>
      <if test="coronary_perforation != null" >
        coronary_perforation,
      </if>
      <if test="coronary_tear != null" >
        coronary_tear,
      </if>
      <if test="endovascular_hemorrhage != null" >
        endovascular_hemorrhage,
      </if>
      <if test="acute_occlusion != null" >
        acute_occlusion,
      </if>
      <if test="pericardial_filling != null" >
        pericardial_filling,
      </if>
      <if test="instrument_shedding != null" >
        instrument_shedding,
      </if>
      <if test="balloon_no_recovered != null" >
        balloon_no_recovered,
      </if>
      <if test="embolism != null" >
        embolism,
      </if>
      <if test="arrhythmia != null" >
        arrhythmia,
      </if>
      <if test="dead != null" >
        dead,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pva_id != null" >
        #{pva_id,jdbcType=BIGINT},
      </if>
      <if test="ar_id != null" >
        #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="left_iliac_artery != null" >
        #{left_iliac_artery,jdbcType=TINYINT},
      </if>
      <if test="right_iliac_artery != null" >
        #{right_iliac_artery,jdbcType=TINYINT},
      </if>
      <if test="left_femoral_artery != null" >
        #{left_femoral_artery,jdbcType=TINYINT},
      </if>
      <if test="right_femoral_artery != null" >
        #{right_femoral_artery,jdbcType=TINYINT},
      </if>
      <if test="ulnar_artery != null" >
        #{ulnar_artery,jdbcType=TINYINT},
      </if>
      <if test="radial_artery != null" >
        #{radial_artery,jdbcType=TINYINT},
      </if>
      <if test="guide_catheter_lm != null" >
        #{guide_catheter_lm,jdbcType=VARCHAR},
      </if>
      <if test="guide_catheter_lad != null" >
        #{guide_catheter_lad,jdbcType=VARCHAR},
      </if>
      <if test="guide_catheter_lcx != null" >
        #{guide_catheter_lcx,jdbcType=VARCHAR},
      </if>
      <if test="guide_catheter_rca != null" >
        #{guide_catheter_rca,jdbcType=VARCHAR},
      </if>
      <if test="guide_wire_lm != null" >
        #{guide_wire_lm,jdbcType=VARCHAR},
      </if>
      <if test="guide_wire_lad != null" >
        #{guide_wire_lad,jdbcType=VARCHAR},
      </if>
      <if test="guide_wire_lcx != null" >
        #{guide_wire_lcx,jdbcType=VARCHAR},
      </if>
      <if test="guide_wire_rca != null" >
        #{guide_wire_rca,jdbcType=VARCHAR},
      </if>
      <if test="pre_balloon_lm != null" >
        #{pre_balloon_lm,jdbcType=VARCHAR},
      </if>
      <if test="pre_balloon_lad != null" >
        #{pre_balloon_lad,jdbcType=VARCHAR},
      </if>
      <if test="pre_balloon_lcx != null" >
        #{pre_balloon_lcx,jdbcType=VARCHAR},
      </if>
      <if test="pre_balloon_rca != null" >
        #{pre_balloon_rca,jdbcType=VARCHAR},
      </if>
      <if test="bracket_size_lm != null" >
        #{bracket_size_lm,jdbcType=VARCHAR},
      </if>
      <if test="bracket_size_lad != null" >
        #{bracket_size_lad,jdbcType=VARCHAR},
      </if>
      <if test="bracket_size_lcx != null" >
        #{bracket_size_lcx,jdbcType=VARCHAR},
      </if>
      <if test="bracket_size_rca != null" >
        #{bracket_size_rca,jdbcType=VARCHAR},
      </if>
      <if test="aft_balloon_lm != null" >
        #{aft_balloon_lm,jdbcType=VARCHAR},
      </if>
      <if test="aft_balloon_lad != null" >
        #{aft_balloon_lad,jdbcType=VARCHAR},
      </if>
      <if test="aft_balloon_lcx != null" >
        #{aft_balloon_lcx,jdbcType=VARCHAR},
      </if>
      <if test="aft_balloon_rca != null" >
        #{aft_balloon_rca,jdbcType=VARCHAR},
      </if>
      <if test="normal != null" >
        #{normal,jdbcType=TINYINT},
      </if>
      <if test="no_reflow != null" >
        #{no_reflow,jdbcType=TINYINT},
      </if>
      <if test="coronary_perforation != null" >
        #{coronary_perforation,jdbcType=TINYINT},
      </if>
      <if test="coronary_tear != null" >
        #{coronary_tear,jdbcType=TINYINT},
      </if>
      <if test="endovascular_hemorrhage != null" >
        #{endovascular_hemorrhage,jdbcType=TINYINT},
      </if>
      <if test="acute_occlusion != null" >
        #{acute_occlusion,jdbcType=TINYINT},
      </if>
      <if test="pericardial_filling != null" >
        #{pericardial_filling,jdbcType=TINYINT},
      </if>
      <if test="instrument_shedding != null" >
        #{instrument_shedding,jdbcType=TINYINT},
      </if>
      <if test="balloon_no_recovered != null" >
        #{balloon_no_recovered,jdbcType=TINYINT},
      </if>
      <if test="embolism != null" >
        #{embolism,jdbcType=TINYINT},
      </if>
      <if test="arrhythmia != null" >
        #{arrhythmia,jdbcType=TINYINT},
      </if>
      <if test="dead != null" >
        #{dead,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.PciVascularApproach" >
    update t_pci_vascular_approach
    <set >
      <if test="ar_id != null" >
        ar_id = #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="left_iliac_artery != null" >
        left_iliac_artery = #{left_iliac_artery,jdbcType=TINYINT},
      </if>
      <if test="right_iliac_artery != null" >
        right_iliac_artery = #{right_iliac_artery,jdbcType=TINYINT},
      </if>
      <if test="left_femoral_artery != null" >
        left_femoral_artery = #{left_femoral_artery,jdbcType=TINYINT},
      </if>
      <if test="right_femoral_artery != null" >
        right_femoral_artery = #{right_femoral_artery,jdbcType=TINYINT},
      </if>
      <if test="ulnar_artery != null" >
        ulnar_artery = #{ulnar_artery,jdbcType=TINYINT},
      </if>
      <if test="radial_artery != null" >
        radial_artery = #{radial_artery,jdbcType=TINYINT},
      </if>
      <if test="guide_catheter_lm != null" >
        guide_catheter_lm = #{guide_catheter_lm,jdbcType=VARCHAR},
      </if>
      <if test="guide_catheter_lad != null" >
        guide_catheter_lad = #{guide_catheter_lad,jdbcType=VARCHAR},
      </if>
      <if test="guide_catheter_lcx != null" >
        guide_catheter_lcx = #{guide_catheter_lcx,jdbcType=VARCHAR},
      </if>
      <if test="guide_catheter_rca != null" >
        guide_catheter_rca = #{guide_catheter_rca,jdbcType=VARCHAR},
      </if>
      <if test="guide_wire_lm != null" >
        guide_wire_lm = #{guide_wire_lm,jdbcType=VARCHAR},
      </if>
      <if test="guide_wire_lad != null" >
        guide_wire_lad = #{guide_wire_lad,jdbcType=VARCHAR},
      </if>
      <if test="guide_wire_lcx != null" >
        guide_wire_lcx = #{guide_wire_lcx,jdbcType=VARCHAR},
      </if>
      <if test="guide_wire_rca != null" >
        guide_wire_rca = #{guide_wire_rca,jdbcType=VARCHAR},
      </if>
      <if test="pre_balloon_lm != null" >
        pre_balloon_lm = #{pre_balloon_lm,jdbcType=VARCHAR},
      </if>
      <if test="pre_balloon_lad != null" >
        pre_balloon_lad = #{pre_balloon_lad,jdbcType=VARCHAR},
      </if>
      <if test="pre_balloon_lcx != null" >
        pre_balloon_lcx = #{pre_balloon_lcx,jdbcType=VARCHAR},
      </if>
      <if test="pre_balloon_rca != null" >
        pre_balloon_rca = #{pre_balloon_rca,jdbcType=VARCHAR},
      </if>
      <if test="bracket_size_lm != null" >
        bracket_size_lm = #{bracket_size_lm,jdbcType=VARCHAR},
      </if>
      <if test="bracket_size_lad != null" >
        bracket_size_lad = #{bracket_size_lad,jdbcType=VARCHAR},
      </if>
      <if test="bracket_size_lcx != null" >
        bracket_size_lcx = #{bracket_size_lcx,jdbcType=VARCHAR},
      </if>
      <if test="bracket_size_rca != null" >
        bracket_size_rca = #{bracket_size_rca,jdbcType=VARCHAR},
      </if>
      <if test="aft_balloon_lm != null" >
        aft_balloon_lm = #{aft_balloon_lm,jdbcType=VARCHAR},
      </if>
      <if test="aft_balloon_lad != null" >
        aft_balloon_lad = #{aft_balloon_lad,jdbcType=VARCHAR},
      </if>
      <if test="aft_balloon_lcx != null" >
        aft_balloon_lcx = #{aft_balloon_lcx,jdbcType=VARCHAR},
      </if>
      <if test="aft_balloon_rca != null" >
        aft_balloon_rca = #{aft_balloon_rca,jdbcType=VARCHAR},
      </if>
      <if test="normal != null" >
        normal = #{normal,jdbcType=TINYINT},
      </if>
      <if test="no_reflow != null" >
        no_reflow = #{no_reflow,jdbcType=TINYINT},
      </if>
      <if test="coronary_perforation != null" >
        coronary_perforation = #{coronary_perforation,jdbcType=TINYINT},
      </if>
      <if test="coronary_tear != null" >
        coronary_tear = #{coronary_tear,jdbcType=TINYINT},
      </if>
      <if test="endovascular_hemorrhage != null" >
        endovascular_hemorrhage = #{endovascular_hemorrhage,jdbcType=TINYINT},
      </if>
      <if test="acute_occlusion != null" >
        acute_occlusion = #{acute_occlusion,jdbcType=TINYINT},
      </if>
      <if test="pericardial_filling != null" >
        pericardial_filling = #{pericardial_filling,jdbcType=TINYINT},
      </if>
      <if test="instrument_shedding != null" >
        instrument_shedding = #{instrument_shedding,jdbcType=TINYINT},
      </if>
      <if test="balloon_no_recovered != null" >
        balloon_no_recovered = #{balloon_no_recovered,jdbcType=TINYINT},
      </if>
      <if test="embolism != null" >
        embolism = #{embolism,jdbcType=TINYINT},
      </if>
      <if test="arrhythmia != null" >
        arrhythmia = #{arrhythmia,jdbcType=TINYINT},
      </if>
      <if test="dead != null" >
        dead = #{dead,jdbcType=TINYINT},
      </if>
    </set>
    where pva_id = #{pva_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.PciVascularApproach" >
    update t_pci_vascular_approach
    set ar_id = #{ar_id,jdbcType=BIGINT},
      left_iliac_artery = #{left_iliac_artery,jdbcType=TINYINT},
      right_iliac_artery = #{right_iliac_artery,jdbcType=TINYINT},
      left_femoral_artery = #{left_femoral_artery,jdbcType=TINYINT},
      right_femoral_artery = #{right_femoral_artery,jdbcType=TINYINT},
      ulnar_artery = #{ulnar_artery,jdbcType=TINYINT},
      radial_artery = #{radial_artery,jdbcType=TINYINT},
      guide_catheter_lm = #{guide_catheter_lm,jdbcType=VARCHAR},
      guide_catheter_lad = #{guide_catheter_lad,jdbcType=VARCHAR},
      guide_catheter_lcx = #{guide_catheter_lcx,jdbcType=VARCHAR},
      guide_catheter_rca = #{guide_catheter_rca,jdbcType=VARCHAR},
      guide_wire_lm = #{guide_wire_lm,jdbcType=VARCHAR},
      guide_wire_lad = #{guide_wire_lad,jdbcType=VARCHAR},
      guide_wire_lcx = #{guide_wire_lcx,jdbcType=VARCHAR},
      guide_wire_rca = #{guide_wire_rca,jdbcType=VARCHAR},
      pre_balloon_lm = #{pre_balloon_lm,jdbcType=VARCHAR},
      pre_balloon_lad = #{pre_balloon_lad,jdbcType=VARCHAR},
      pre_balloon_lcx = #{pre_balloon_lcx,jdbcType=VARCHAR},
      pre_balloon_rca = #{pre_balloon_rca,jdbcType=VARCHAR},
      bracket_size_lm = #{bracket_size_lm,jdbcType=VARCHAR},
      bracket_size_lad = #{bracket_size_lad,jdbcType=VARCHAR},
      bracket_size_lcx = #{bracket_size_lcx,jdbcType=VARCHAR},
      bracket_size_rca = #{bracket_size_rca,jdbcType=VARCHAR},
      aft_balloon_lm = #{aft_balloon_lm,jdbcType=VARCHAR},
      aft_balloon_lad = #{aft_balloon_lad,jdbcType=VARCHAR},
      aft_balloon_lcx = #{aft_balloon_lcx,jdbcType=VARCHAR},
      aft_balloon_rca = #{aft_balloon_rca,jdbcType=VARCHAR},
      normal = #{normal,jdbcType=TINYINT},
      no_reflow = #{no_reflow,jdbcType=TINYINT},
      coronary_perforation = #{coronary_perforation,jdbcType=TINYINT},
      coronary_tear = #{coronary_tear,jdbcType=TINYINT},
      endovascular_hemorrhage = #{endovascular_hemorrhage,jdbcType=TINYINT},
      acute_occlusion = #{acute_occlusion,jdbcType=TINYINT},
      pericardial_filling = #{pericardial_filling,jdbcType=TINYINT},
      instrument_shedding = #{instrument_shedding,jdbcType=TINYINT},
      balloon_no_recovered = #{balloon_no_recovered,jdbcType=TINYINT},
      embolism = #{embolism,jdbcType=TINYINT},
      arrhythmia = #{arrhythmia,jdbcType=TINYINT},
      dead = #{dead,jdbcType=TINYINT}
    where pva_id = #{pva_id,jdbcType=BIGINT}
  </update>
</mapper>