<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lab.c505.dao.PhysicalExamMapper" >
  <resultMap id="BaseResultMap" type="lab.c505.entity.PhysicalExam" >
    <id column="pe_id" property="pe_id" jdbcType="BIGINT" />
    <result column="patient_id" property="patient_id" jdbcType="BIGINT" />
    <result column="fr_id" property="fr_id" jdbcType="BIGINT" />
    <result column="ar_id" property="ar_id" jdbcType="BIGINT" />
    <result column="r_type" property="r_type" jdbcType="TINYINT" />
    <result column="blood_h" property="blood_h" jdbcType="TINYINT" />
    <result column="blood_l" property="blood_l" jdbcType="TINYINT" />
    <result column="hr" property="hr" jdbcType="TINYINT" />
    <result column="weight" property="weight" jdbcType="TINYINT" />
    <result column="supplement" property="supplement" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pe_id, patient_id, fr_id, ar_id, r_type, blood_h, blood_l, hr, weight, supplement
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_physical_exam
    where pe_id = #{pe_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_physical_exam
    where pe_id = #{pe_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.PhysicalExam" >
    insert into t_physical_exam (pe_id, patient_id, fr_id, 
      ar_id, r_type, blood_h, 
      blood_l, hr, weight, 
      supplement)
    values (#{pe_id,jdbcType=BIGINT}, #{patient_id,jdbcType=BIGINT}, #{fr_id,jdbcType=BIGINT}, 
      #{ar_id,jdbcType=BIGINT}, #{r_type,jdbcType=TINYINT}, #{blood_h,jdbcType=TINYINT}, 
      #{blood_l,jdbcType=TINYINT}, #{hr,jdbcType=TINYINT}, #{weight,jdbcType=TINYINT}, 
      #{supplement,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.PhysicalExam" >
    insert into t_physical_exam
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pe_id != null" >
        pe_id,
      </if>
      <if test="patient_id != null" >
        patient_id,
      </if>
      <if test="fr_id != null" >
        fr_id,
      </if>
      <if test="ar_id != null" >
        ar_id,
      </if>
      <if test="r_type != null" >
        r_type,
      </if>
      <if test="blood_h != null" >
        blood_h,
      </if>
      <if test="blood_l != null" >
        blood_l,
      </if>
      <if test="hr != null" >
        hr,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="supplement != null" >
        supplement,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pe_id != null" >
        #{pe_id,jdbcType=BIGINT},
      </if>
      <if test="patient_id != null" >
        #{patient_id,jdbcType=BIGINT},
      </if>
      <if test="fr_id != null" >
        #{fr_id,jdbcType=BIGINT},
      </if>
      <if test="ar_id != null" >
        #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="r_type != null" >
        #{r_type,jdbcType=TINYINT},
      </if>
      <if test="blood_h != null" >
        #{blood_h,jdbcType=TINYINT},
      </if>
      <if test="blood_l != null" >
        #{blood_l,jdbcType=TINYINT},
      </if>
      <if test="hr != null" >
        #{hr,jdbcType=TINYINT},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=TINYINT},
      </if>
      <if test="supplement != null" >
        #{supplement,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.PhysicalExam" >
    update t_physical_exam
    <set >
      <if test="patient_id != null" >
        patient_id = #{patient_id,jdbcType=BIGINT},
      </if>
      <if test="fr_id != null" >
        fr_id = #{fr_id,jdbcType=BIGINT},
      </if>
      <if test="ar_id != null" >
        ar_id = #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="r_type != null" >
        r_type = #{r_type,jdbcType=TINYINT},
      </if>
      <if test="blood_h != null" >
        blood_h = #{blood_h,jdbcType=TINYINT},
      </if>
      <if test="blood_l != null" >
        blood_l = #{blood_l,jdbcType=TINYINT},
      </if>
      <if test="hr != null" >
        hr = #{hr,jdbcType=TINYINT},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=TINYINT},
      </if>
      <if test="supplement != null" >
        supplement = #{supplement,jdbcType=VARCHAR},
      </if>
    </set>
    where pe_id = #{pe_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.PhysicalExam" >
    update t_physical_exam
    set patient_id = #{patient_id,jdbcType=BIGINT},
      fr_id = #{fr_id,jdbcType=BIGINT},
      ar_id = #{ar_id,jdbcType=BIGINT},
      r_type = #{r_type,jdbcType=TINYINT},
      blood_h = #{blood_h,jdbcType=TINYINT},
      blood_l = #{blood_l,jdbcType=TINYINT},
      hr = #{hr,jdbcType=TINYINT},
      weight = #{weight,jdbcType=TINYINT},
      supplement = #{supplement,jdbcType=VARCHAR}
    where pe_id = #{pe_id,jdbcType=BIGINT}
  </update>
</mapper>