<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lab.c505.dao.RehabilitationTrainCategoryMapper" >
  <resultMap id="BaseResultMap" type="lab.c505.entity.RehabilitationTrainCategory" >
    <constructor >
      <idArg column="rehabilitation_train_category_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="rehabilitation_train_category_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="rehabilitation_train_category_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="create_user" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="modify_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="modify_user" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="delete_flag" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="version" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    rehabilitation_train_category_id, rehabilitation_train_category_code, rehabilitation_train_category_name, 
    create_time, create_user, modify_time, modify_user, delete_flag, version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_rehabilitation_train_category
    where rehabilitation_train_category_id = #{rehabilitation_train_category_id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_rehabilitation_train_category
    where rehabilitation_train_category_id = #{rehabilitation_train_category_id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.RehabilitationTrainCategory" >
    insert into t_rehabilitation_train_category (rehabilitation_train_category_id, rehabilitation_train_category_code, 
      rehabilitation_train_category_name, create_time, 
      create_user, modify_time, modify_user, 
      delete_flag, version)
    values (#{rehabilitation_train_category_id,jdbcType=VARCHAR}, #{rehabilitation_train_category_code,jdbcType=VARCHAR}, 
      #{rehabilitation_train_category_name,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, 
      #{create_user,jdbcType=VARCHAR}, #{modify_time,jdbcType=TIMESTAMP}, #{modify_user,jdbcType=VARCHAR}, 
      #{delete_flag,jdbcType=INTEGER}, #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.RehabilitationTrainCategory" >
    insert into t_rehabilitation_train_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rehabilitation_train_category_id != null" >
        rehabilitation_train_category_id,
      </if>
      <if test="rehabilitation_train_category_code != null" >
        rehabilitation_train_category_code,
      </if>
      <if test="rehabilitation_train_category_name != null" >
        rehabilitation_train_category_name,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="create_user != null" >
        create_user,
      </if>
      <if test="modify_time != null" >
        modify_time,
      </if>
      <if test="modify_user != null" >
        modify_user,
      </if>
      <if test="delete_flag != null" >
        delete_flag,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rehabilitation_train_category_id != null" >
        #{rehabilitation_train_category_id,jdbcType=VARCHAR},
      </if>
      <if test="rehabilitation_train_category_code != null" >
        #{rehabilitation_train_category_code,jdbcType=VARCHAR},
      </if>
      <if test="rehabilitation_train_category_name != null" >
        #{rehabilitation_train_category_name,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="create_user != null" >
        #{create_user,jdbcType=VARCHAR},
      </if>
      <if test="modify_time != null" >
        #{modify_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_user != null" >
        #{modify_user,jdbcType=VARCHAR},
      </if>
      <if test="delete_flag != null" >
        #{delete_flag,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.RehabilitationTrainCategory" >
    update t_rehabilitation_train_category
    <set >
      <if test="rehabilitation_train_category_code != null" >
        rehabilitation_train_category_code = #{rehabilitation_train_category_code,jdbcType=VARCHAR},
      </if>
      <if test="rehabilitation_train_category_name != null" >
        rehabilitation_train_category_name = #{rehabilitation_train_category_name,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="create_user != null" >
        create_user = #{create_user,jdbcType=VARCHAR},
      </if>
      <if test="modify_time != null" >
        modify_time = #{modify_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_user != null" >
        modify_user = #{modify_user,jdbcType=VARCHAR},
      </if>
      <if test="delete_flag != null" >
        delete_flag = #{delete_flag,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where rehabilitation_train_category_id = #{rehabilitation_train_category_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.RehabilitationTrainCategory" >
    update t_rehabilitation_train_category
    set rehabilitation_train_category_code = #{rehabilitation_train_category_code,jdbcType=VARCHAR},
      rehabilitation_train_category_name = #{rehabilitation_train_category_name,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      create_user = #{create_user,jdbcType=VARCHAR},
      modify_time = #{modify_time,jdbcType=TIMESTAMP},
      modify_user = #{modify_user,jdbcType=VARCHAR},
      delete_flag = #{delete_flag,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER}
    where rehabilitation_train_category_id = #{rehabilitation_train_category_id,jdbcType=VARCHAR}
  </update>
</mapper>