<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lab.c505.dao.RoutineBloodMapper">
  <resultMap id="BaseResultMap" type="lab.c505.entity.RoutineBlood">
    <id column="rb_id" jdbcType="BIGINT" property="rb_id" />
    <result column="ar_id" jdbcType="BIGINT" property="ar_id" />
    <result column="exam_time" jdbcType="DATE" property="exam_time" />
    <result column="wbc" jdbcType="REAL" property="wbc" />
    <result column="rbc" jdbcType="REAL" property="rbc" />
    <result column="plt" jdbcType="REAL" property="plt" />
    <result column="hgb" jdbcType="REAL" property="hgb" />
  </resultMap>
  <sql id="Base_Column_List">
    rb_id, ar_id, exam_time, wbc, rbc, plt, hgb
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_routine_blood
    where rb_id = #{rb_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_routine_blood
    where rb_id = #{rb_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.RoutineBlood">
    insert into t_routine_blood (rb_id, ar_id, exam_time, 
      wbc, rbc, plt, hgb
      )
    values (#{rb_id,jdbcType=BIGINT}, #{ar_id,jdbcType=BIGINT}, #{exam_time,jdbcType=DATE}, 
      #{wbc,jdbcType=REAL}, #{rbc,jdbcType=REAL}, #{plt,jdbcType=REAL}, #{hgb,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.RoutineBlood">
    insert into t_routine_blood
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rb_id != null">
        rb_id,
      </if>
      <if test="ar_id != null">
        ar_id,
      </if>
      <if test="exam_time != null">
        exam_time,
      </if>
      <if test="wbc != null">
        wbc,
      </if>
      <if test="rbc != null">
        rbc,
      </if>
      <if test="plt != null">
        plt,
      </if>
      <if test="hgb != null">
        hgb,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rb_id != null">
        #{rb_id,jdbcType=BIGINT},
      </if>
      <if test="ar_id != null">
        #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="exam_time != null">
        #{exam_time,jdbcType=DATE},
      </if>
      <if test="wbc != null">
        #{wbc,jdbcType=REAL},
      </if>
      <if test="rbc != null">
        #{rbc,jdbcType=REAL},
      </if>
      <if test="plt != null">
        #{plt,jdbcType=REAL},
      </if>
      <if test="hgb != null">
        #{hgb,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.RoutineBlood">
    update t_routine_blood
    <set>
      <if test="ar_id != null">
        ar_id = #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="exam_time != null">
        exam_time = #{exam_time,jdbcType=DATE},
      </if>
      <if test="wbc != null">
        wbc = #{wbc,jdbcType=REAL},
      </if>
      <if test="rbc != null">
        rbc = #{rbc,jdbcType=REAL},
      </if>
      <if test="plt != null">
        plt = #{plt,jdbcType=REAL},
      </if>
      <if test="hgb != null">
        hgb = #{hgb,jdbcType=REAL},
      </if>
    </set>
    where rb_id = #{rb_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.RoutineBlood">
    update t_routine_blood
    set ar_id = #{ar_id,jdbcType=BIGINT},
      exam_time = #{exam_time,jdbcType=DATE},
      wbc = #{wbc,jdbcType=REAL},
      rbc = #{rbc,jdbcType=REAL},
      plt = #{plt,jdbcType=REAL},
      hgb = #{hgb,jdbcType=REAL}
    where rb_id = #{rb_id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="lab.c505.entity.RoutineBlood">
    <id column="rb_id" jdbcType="BIGINT" property="rb_id" />
    <result column="ar_id" jdbcType="BIGINT" property="ar_id" />
    <result column="exam_time" jdbcType="DATE" property="exam_time" />
    <result column="wbc" jdbcType="REAL" property="wbc" />
    <result column="rbc" jdbcType="REAL" property="rbc" />
    <result column="plt" jdbcType="REAL" property="plt" />
    <result column="hgb" jdbcType="REAL" property="hgb" />
  </resultMap>
  <sql id="Base_Column_List">
    rb_id, ar_id, exam_time, wbc, rbc, plt, hgb
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_routine_blood
    where rb_id = #{rb_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_routine_blood
    where rb_id = #{rb_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.RoutineBlood">
    insert into t_routine_blood (rb_id, ar_id, exam_time, 
      wbc, rbc, plt, hgb
      )
    values (#{rb_id,jdbcType=BIGINT}, #{ar_id,jdbcType=BIGINT}, #{exam_time,jdbcType=DATE}, 
      #{wbc,jdbcType=REAL}, #{rbc,jdbcType=REAL}, #{plt,jdbcType=REAL}, #{hgb,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.RoutineBlood">
    insert into t_routine_blood
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rb_id != null">
        rb_id,
      </if>
      <if test="ar_id != null">
        ar_id,
      </if>
      <if test="exam_time != null">
        exam_time,
      </if>
      <if test="wbc != null">
        wbc,
      </if>
      <if test="rbc != null">
        rbc,
      </if>
      <if test="plt != null">
        plt,
      </if>
      <if test="hgb != null">
        hgb,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rb_id != null">
        #{rb_id,jdbcType=BIGINT},
      </if>
      <if test="ar_id != null">
        #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="exam_time != null">
        #{exam_time,jdbcType=DATE},
      </if>
      <if test="wbc != null">
        #{wbc,jdbcType=REAL},
      </if>
      <if test="rbc != null">
        #{rbc,jdbcType=REAL},
      </if>
      <if test="plt != null">
        #{plt,jdbcType=REAL},
      </if>
      <if test="hgb != null">
        #{hgb,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.RoutineBlood">
    update t_routine_blood
    <set>
      <if test="ar_id != null">
        ar_id = #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="exam_time != null">
        exam_time = #{exam_time,jdbcType=DATE},
      </if>
      <if test="wbc != null">
        wbc = #{wbc,jdbcType=REAL},
      </if>
      <if test="rbc != null">
        rbc = #{rbc,jdbcType=REAL},
      </if>
      <if test="plt != null">
        plt = #{plt,jdbcType=REAL},
      </if>
      <if test="hgb != null">
        hgb = #{hgb,jdbcType=REAL},
      </if>
    </set>
    where rb_id = #{rb_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.RoutineBlood">
    update t_routine_blood
    set ar_id = #{ar_id,jdbcType=BIGINT},
      exam_time = #{exam_time,jdbcType=DATE},
      wbc = #{wbc,jdbcType=REAL},
      rbc = #{rbc,jdbcType=REAL},
      plt = #{plt,jdbcType=REAL},
      hgb = #{hgb,jdbcType=REAL}
    where rb_id = #{rb_id,jdbcType=BIGINT}
  </update>
</mapper>