<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lab.c505.dao.TreadmillTrainMapper" >
  <resultMap id="BaseResultMap" type="lab.c505.entity.TreadmillTrain" >
    <id column="tt_id" property="tt_id" jdbcType="BIGINT" />
    <result column="at_id" property="at_id" jdbcType="BIGINT" />
    <result column="speed" property="speed" jdbcType="INTEGER" />
    <result column="time_len" property="time_len" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    tt_id, at_id, speed, time_len, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_treadmill_train
    where tt_id = #{tt_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_treadmill_train
    where tt_id = #{tt_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.TreadmillTrain" >
    insert into t_treadmill_train (tt_id, at_id, speed, 
      time_len, remark)
    values (#{tt_id,jdbcType=BIGINT}, #{at_id,jdbcType=BIGINT}, #{speed,jdbcType=INTEGER}, 
      #{time_len,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.TreadmillTrain" >
    insert into t_treadmill_train
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tt_id != null" >
        tt_id,
      </if>
      <if test="at_id != null" >
        at_id,
      </if>
      <if test="speed != null" >
        speed,
      </if>
      <if test="time_len != null" >
        time_len,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tt_id != null" >
        #{tt_id,jdbcType=BIGINT},
      </if>
      <if test="at_id != null" >
        #{at_id,jdbcType=BIGINT},
      </if>
      <if test="speed != null" >
        #{speed,jdbcType=INTEGER},
      </if>
      <if test="time_len != null" >
        #{time_len,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.TreadmillTrain" >
    update t_treadmill_train
    <set >
      <if test="at_id != null" >
        at_id = #{at_id,jdbcType=BIGINT},
      </if>
      <if test="speed != null" >
        speed = #{speed,jdbcType=INTEGER},
      </if>
      <if test="time_len != null" >
        time_len = #{time_len,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where tt_id = #{tt_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.TreadmillTrain" >
    update t_treadmill_train
    set at_id = #{at_id,jdbcType=BIGINT},
      speed = #{speed,jdbcType=INTEGER},
      time_len = #{time_len,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where tt_id = #{tt_id,jdbcType=BIGINT}
  </update>
</mapper>