<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lab.c505.dao.WalkMapper">
  <resultMap id="BaseResultMap" type="lab.c505.entity.Walk">
    <id column="wt_id" jdbcType="BIGINT" property="wt_id" />
    <result column="ar_id" jdbcType="BIGINT" property="ar_id" />
    <result column="walking" jdbcType="REAL" property="walking" />
    <result column="heart_func" jdbcType="REAL" property="heart_func" />
    <result column="borg" jdbcType="REAL" property="borg" />
  </resultMap>
  <sql id="Base_Column_List">
    wt_id, ar_id, walking, heart_func, borg
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_walk
    where wt_id = #{wt_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_walk
    where wt_id = #{wt_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.Walk">
    insert into t_walk (wt_id, ar_id, walking, 
      heart_func, borg)
    values (#{wt_id,jdbcType=BIGINT}, #{ar_id,jdbcType=BIGINT}, #{walking,jdbcType=REAL}, 
      #{heart_func,jdbcType=REAL}, #{borg,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.Walk">
    insert into t_walk
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wt_id != null">
        wt_id,
      </if>
      <if test="ar_id != null">
        ar_id,
      </if>
      <if test="walking != null">
        walking,
      </if>
      <if test="heart_func != null">
        heart_func,
      </if>
      <if test="borg != null">
        borg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wt_id != null">
        #{wt_id,jdbcType=BIGINT},
      </if>
      <if test="ar_id != null">
        #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="walking != null">
        #{walking,jdbcType=REAL},
      </if>
      <if test="heart_func != null">
        #{heart_func,jdbcType=REAL},
      </if>
      <if test="borg != null">
        #{borg,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.Walk">
    update t_walk
    <set>
      <if test="ar_id != null">
        ar_id = #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="walking != null">
        walking = #{walking,jdbcType=REAL},
      </if>
      <if test="heart_func != null">
        heart_func = #{heart_func,jdbcType=REAL},
      </if>
      <if test="borg != null">
        borg = #{borg,jdbcType=REAL},
      </if>
    </set>
    where wt_id = #{wt_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.Walk">
    update t_walk
    set ar_id = #{ar_id,jdbcType=BIGINT},
      walking = #{walking,jdbcType=REAL},
      heart_func = #{heart_func,jdbcType=REAL},
      borg = #{borg,jdbcType=REAL}
    where wt_id = #{wt_id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="lab.c505.entity.Walk">
    <id column="wt_id" jdbcType="BIGINT" property="wt_id" />
    <result column="ar_id" jdbcType="BIGINT" property="ar_id" />
    <result column="walking" jdbcType="REAL" property="walking" />
    <result column="heart_func" jdbcType="REAL" property="heart_func" />
    <result column="borg" jdbcType="REAL" property="borg" />
  </resultMap>
  <sql id="Base_Column_List">
    wt_id, ar_id, walking, heart_func, borg
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_walk
    where wt_id = #{wt_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_walk
    where wt_id = #{wt_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="lab.c505.entity.Walk">
    insert into t_walk (wt_id, ar_id, walking, 
      heart_func, borg)
    values (#{wt_id,jdbcType=BIGINT}, #{ar_id,jdbcType=BIGINT}, #{walking,jdbcType=REAL}, 
      #{heart_func,jdbcType=REAL}, #{borg,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="lab.c505.entity.Walk">
    insert into t_walk
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wt_id != null">
        wt_id,
      </if>
      <if test="ar_id != null">
        ar_id,
      </if>
      <if test="walking != null">
        walking,
      </if>
      <if test="heart_func != null">
        heart_func,
      </if>
      <if test="borg != null">
        borg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wt_id != null">
        #{wt_id,jdbcType=BIGINT},
      </if>
      <if test="ar_id != null">
        #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="walking != null">
        #{walking,jdbcType=REAL},
      </if>
      <if test="heart_func != null">
        #{heart_func,jdbcType=REAL},
      </if>
      <if test="borg != null">
        #{borg,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="lab.c505.entity.Walk">
    update t_walk
    <set>
      <if test="ar_id != null">
        ar_id = #{ar_id,jdbcType=BIGINT},
      </if>
      <if test="walking != null">
        walking = #{walking,jdbcType=REAL},
      </if>
      <if test="heart_func != null">
        heart_func = #{heart_func,jdbcType=REAL},
      </if>
      <if test="borg != null">
        borg = #{borg,jdbcType=REAL},
      </if>
    </set>
    where wt_id = #{wt_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="lab.c505.entity.Walk">
    update t_walk
    set ar_id = #{ar_id,jdbcType=BIGINT},
      walking = #{walking,jdbcType=REAL},
      heart_func = #{heart_func,jdbcType=REAL},
      borg = #{borg,jdbcType=REAL}
    where wt_id = #{wt_id,jdbcType=BIGINT}
  </update>
</mapper>